.mailchimp-signup {
  margin-top: 20px;
  #mc_embed_signup {
    @include span-columns(8);
    @include shift(2);
    padding: 20px 40px 30px;
    text-align: center;
    .clear { display: inline; }
    form { margin-bottom: 0px; }
    input {
      margin-bottom: 0px;
      padding: 5px 20px;
    }
    input.email {
      @include span-columns(8);
      height: 40px;
      border: none;
      font-size: 16px;
    }
    label {
      display: block;
      font-size: 20px;
      color: white;
      font-family: "Roboto";
      padding: 60px 25px;
    }
    .button {
      @include span-columns(4);
      box-shadow: none;
      height: 40px;
      border-radius: 0;
      background: #fffd19;
      border: none;
      color: #333;
      text-transform: uppercase;
      font-family: "Roboto";
      font-size: 14px;
      padding: 0px 30px;
      cursor: pointer;
      white-space: no-wrap;
      -webkit-appearance: none;
    }
    .button:hover {
      background: #2c52af;
    }
  }
  @media only screen and (min-width: 750px) and (max-width: 900px) {
    #mc_embed_signup {
      @include span-columns(10);
      @include shift(1);
      padding: 2px 4px 3px;
    }
  }
  @media only screen and (max-width: 749px) {
    #mc_embed_signup {
      @include span-columns(12);
      @include shift(0);
      padding: 2px 4px 3px;
      input.email {
        @include span-columns(12);
        text-align: center;
      }
      .button {
        @include span-columns(12);
        padding: 5px 10px;
        margin-bottom: 20px;
      }
    }
  }
}
