html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mailchimp-signup {
  margin-top: 20px; }
  .mailchimp-signup #mc_embed_signup {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    padding: 20px 40px 30px;
    text-align: center; }
    .mailchimp-signup #mc_embed_signup:last-child {
      margin-right: 0; }
    .mailchimp-signup #mc_embed_signup .clear {
      display: inline; }
    .mailchimp-signup #mc_embed_signup form {
      margin-bottom: 0px; }
    .mailchimp-signup #mc_embed_signup input {
      margin-bottom: 0px;
      padding: 5px 20px; }
    .mailchimp-signup #mc_embed_signup input.email {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      height: 50px;
      border: 4px solid black;
      font-size: 16px; }
      .mailchimp-signup #mc_embed_signup input.email:last-child {
        margin-right: 0; }
    .mailchimp-signup #mc_embed_signup label {
      display: block;
      font-size: 20px;
      color: white;
      font-family: "Roboto";
      padding: 60px 25px;
      font-weight: 900; }
    .mailchimp-signup #mc_embed_signup .button {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      box-shadow: none;
      height: 50px;
      border-radius: 0;
      background: #fffd2e;
      border: 4px solid black;
      color: #333;
      text-transform: uppercase;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 900;
      padding: 0px 30px;
      cursor: pointer;
      white-space: no-wrap;
      -webkit-appearance: none; }
      .mailchimp-signup #mc_embed_signup .button:last-child {
        margin-right: 0; }
    .mailchimp-signup #mc_embed_signup .button:hover {
      background: #4d94ff; }
  @media only screen and (min-width: 750px) and (max-width: 900px) {
    .mailchimp-signup #mc_embed_signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      padding: 2px 4px 3px; }
      .mailchimp-signup #mc_embed_signup:last-child {
        margin-right: 0; } }
  @media only screen and (max-width: 749px) {
    .mailchimp-signup #mc_embed_signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      padding: 2px 4px 3px; }
      .mailchimp-signup #mc_embed_signup:last-child {
        margin-right: 0; }
      .mailchimp-signup #mc_embed_signup input.email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center;
        margin-bottom: 10px; }
        .mailchimp-signup #mc_embed_signup input.email:last-child {
          margin-right: 0; }
      .mailchimp-signup #mc_embed_signup .button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 20px; }
        .mailchimp-signup #mc_embed_signup .button:last-child {
          margin-right: 0; } }

body {
  padding: 5%; }

a {
  color: inherit; }

a:hover {
  color: #2c52af; }

a span {
  font-family: "Roboto"; }

header {
  padding: 30px 20px 0px; }

h2 {
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3vw;
  font-weight: 900; }

p {
  font-family: "Helvetica";
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 100; }

@media only screen and (min-width: 599px) {
  .mobile {
    display: none; }

  .desktop {
    display: block; } }
@media only screen and (max-width: 600px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; }

  h1 {
    font-size: 30vw;
    line-height: .8; }
    h1 span {
      display: block; }

  h2 {
    font-size: 16px; }

  p {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
