html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.cloud-wrapper {
  width: 100%;
  position: fixed;
  z-index: -1; }
  .cloud-wrapper::after {
    clear: both;
    content: "";
    display: block; }

.cloud-container {
  position: fixed;
  width: 300px;
  height: 150px;
  z-index: -1; }

.container-1 {
  position: absolute; }

.cloud {
  background: white;
  border-radius: 50%;
  position: absolute; }

.cloud-1 {
  width: 100px;
  height: 120px;
  left: 50px; }

.shadow-1 {
  left: 45px; }

.cloud-shadow {
  background: lightgray;
  border-radius: 50%;
  position: absolute; }

.cloud-2 {
  width: 250px;
  height: 80px;
  left: 0px;
  bottom: 0px; }

.shadow-2 {
  left: -5px; }

.cloud-3 {
  width: 110px;
  height: 100px;
  bottom: 10px;
  left: 100px; }

.cloud-4 {
  width: 250px;
  height: 80px;
  bottom: 0px;
  left: 0px; }

.container-2 {
  position: absolute;
  left: 80%;
  top: 300px; }

.container-3 {
  position: absolute;
  left: 20%;
  top: 500px; }

.mailchimp-signup {
  margin-top: 20px; }
  .mailchimp-signup #mc_embed_signup {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    padding: 20px 40px 30px;
    text-align: center; }
    .mailchimp-signup #mc_embed_signup:last-child {
      margin-right: 0; }
    .mailchimp-signup #mc_embed_signup .clear {
      display: inline; }
    .mailchimp-signup #mc_embed_signup form {
      margin-bottom: 0px; }
    .mailchimp-signup #mc_embed_signup input {
      margin-bottom: 0px;
      padding: 5px 20px; }
    .mailchimp-signup #mc_embed_signup input.email {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      height: 40px;
      border: none;
      font-size: 16px; }
      .mailchimp-signup #mc_embed_signup input.email:last-child {
        margin-right: 0; }
    .mailchimp-signup #mc_embed_signup label {
      display: block;
      font-size: 20px;
      color: white;
      font-family: "Roboto";
      padding: 60px 25px; }
    .mailchimp-signup #mc_embed_signup .button {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      box-shadow: none;
      height: 40px;
      border-radius: 0;
      background: #fffd19;
      border: none;
      color: #333;
      text-transform: uppercase;
      font-family: "Roboto";
      font-size: 14px;
      padding: 0px 30px;
      cursor: pointer;
      white-space: no-wrap;
      -webkit-appearance: none; }
      .mailchimp-signup #mc_embed_signup .button:last-child {
        margin-right: 0; }
    .mailchimp-signup #mc_embed_signup .button:hover {
      background: #2c52af; }
  @media only screen and (min-width: 750px) and (max-width: 900px) {
    .mailchimp-signup #mc_embed_signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      padding: 2px 4px 3px; }
      .mailchimp-signup #mc_embed_signup:last-child {
        margin-right: 0; } }
  @media only screen and (max-width: 749px) {
    .mailchimp-signup #mc_embed_signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      padding: 2px 4px 3px; }
      .mailchimp-signup #mc_embed_signup:last-child {
        margin-right: 0; }
      .mailchimp-signup #mc_embed_signup input.email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center; }
        .mailchimp-signup #mc_embed_signup input.email:last-child {
          margin-right: 0; }
      .mailchimp-signup #mc_embed_signup .button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 20px; }
        .mailchimp-signup #mc_embed_signup .button:last-child {
          margin-right: 0; } }

body {
  background: #4dcdf7;
  padding: 5%; }

a {
  color: inherit; }

a:hover {
  color: #2c52af; }

a span {
  font-family: "Roboto"; }

header {
  padding: 30px 20px 0px; }

h1 {
  text-align: center;
  font-family: "Neucha", "san-serif";
  font-size: 12vw;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  background: transparent;
  letter-spacing: 10; }

h2 {
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3vw;
  font-weight: 900; }

p {
  font-family: "Helvetica";
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 100; }

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 30vw;
    line-height: .8; }
    h1 span {
      display: block; }

  h2 {
    font-size: 16px; }

  p {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
