$blue: #4d94ff;
$yellow: #fffd2e;
$green: #4eff5c;

@import "neat/neat";
@import "mailchimp_signup";

body {
  padding: 5%;
}
a { color: inherit; }
a:hover { color: #2c52af; }
a span { font-family: "Roboto"; }

header {
  padding: 30px 20px 0px;
}

h2 {
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3vw;
  font-weight: 900;
}


p {
  font-family: "Helvetica";
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

@media only screen and (min-width: 599px){
  .mobile { display: none; }
  .desktop { display: block; }
}

@media only screen and (max-width: 600px){
  .mobile { display: block; }
  .desktop { display: none; }
  h1 {
    font-size: 30vw;
    line-height: .8;
    span {
      display: block;
    }
  }
  h2 { font-size: 16px; }
  p { font-size: 20px; }
}
