$blue: #4d94ff;
$yellow: #fffd2e;
$green: #4eff5c;
$pink: #ff94de;
$orange: #ffaa62;

$red: #ff2e8e;
$purple: #fc2eff;
$light-blue: #1ffff5;

$art-gaming-color: $purple;
$health-color: $red;
$education-color: $orange;
$community-color: $green;
$city-life-color: $light-blue;

@import "neat/neat";
@import "mailchimp_signup";

body {
  margin: 0px;
  border-top: 20px solid $yellow;
  border-bottom: 20px solid $yellow;
}
a { color: inherit; }
a:hover { color: #2c52af; }
a span { font-family: "Roboto"; }
p {
  font-size: 18px;
  text-align: left;
}

img { width: 100%; }

header {
  padding: 30px 20px;
  .boxed, .box { text-align: center; }
  p { font-size: 30px; }
}

h2 {
  font-family: "Helvetica";
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3vw;
  font-weight: 900;
}

h3 {
  font-family: "Helvetica";
  font-size: 2vw;
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-family: "Helvetica";
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-weight: 100;
}

.boxed {
  margin-bottom: 20px;
  .subtitle {
    font-weight: 100;
    text-transform: none;
  }
  font-size: 24px;
  margin-top: 10px;
  text-align: left;
  position: relative;
  .box {
    border: 2px solid black;
    padding: 5px 20px;
    background: white;
    display: inline-block;
  }
  .box-shadow {
    display: inline-block;
    position: absolute;
    top: 3px;
    left: 10px;
    width: auto;
    height: 40px;
    border: 2px solid black;
    background: $yellow;
    z-index: -999;
    &.color-1 {background: $yellow;}
    &.color-2 {background: $orange;}
    &.color-3 {background: $pink;}
  }
}
  section {
    @include outer-container(100%);
    .faqs, .venue { @include span-columns(6) };
    .tickets {
      @include span-columns(6);
      background: #f8f8f8;
      h2 {
        text-align: center;
        padding-top: 20px;
  }
}
  article {
    margin-bottom: 30px;
    p {
      font-size: 18px;
      text-align: left;
    }
    h2 {
      font-size: 24px;
      text-align: left;
    }
  }
}

.description {
  @include span-columns(9);
  p {
    text-align: left;
    margin-bottom: 20px;
  }
  h3 {
    font-weight: 500;
    font-size: 24px;
  }
}

.wrapper {
  padding: 0 10%;
  margin-bottom: 30px;
}

.topics {
  @include span-columns(3);
  .boxed { text-align: right; }
  .boxed .box-shadow {
    right: -10px;
    left: auto;
    &.health { background: $health-color; }
    &.education { background: $education-color; }
    &.city-life { background: $city-life-color; }
    &.community { background: $community-color; }
    &.art-gaming { background: $art-gaming-color; }
  }
  .box { text-align: right; }
}

@media only screen and (min-width: 599px){
  img {
    max-width: 900px;
    margin: 0 auto;
  }
  .mobile { display: none; }
  .desktop { display: block; }
}

@media only screen and (max-width: 800px){
  div.faqs { @include span-columns(12); }
}

@media only screen and (max-width: 1000px){
  .topics, .description { @include span-columns(6); }
}

@media only screen and (max-width: 600px){
  .mobile { display: block; }
  .desktop { display: none; }
  .topics, .description { @include span-columns(12); }
  .topics .boxed {
    text-align: left;
    .box-shadow {
      text-align: left;
      left: 10px;
      right: auto;
    }
  }
  h1 {
    font-size: 30vw;
    line-height: .8;
    span {
      display: block;
    }
  }
  h2 { font-size: 16px; }
  p { font-size: 20px; }
}
