.cloud-container {
  position: relative;
  width: 200px;
  height: 150px;
  z-index: -1; }

.cloud {
  background: white;
  border-radius: 50%;
  position: absolute; }

.cloud-container {
  position: relative;
  width: 200px;
  height: 150px; }

.cloud {
  background: white;
  border-radius: 50%;
  position: absolute; }

.cloud-container {
  position: relative;
  width: 200px;
  height: 150px; }

.cloud {
  background: white;
  border-radius: 50%;
  position: absolute; }

.cloud-container {
  position: relative;
  width: 200px;
  height: 150px; }

.cloud {
  background: white;
  border-radius: 50%;
  position: absolute; }

.cloud-container {
  position: relative;
  width: 200px;
  height: 150px; }

.cloud {
  background: white;
  border-radius: 50%;
  position: absolute; }

.cloud-container {
  position: relative;
  width: 200px;
  height: 150px; }

.cloud {
  background: white;
  border-radius: 50%;
  position: absolute; }

.cloud-1 {
  width: 100px;
  height: 120px;
  left: 50px; }

.shadow-1 {
  left: 45px; }

.cloud-shadow {
  background: lightgray;
  border-radius: 50%;
  position: absolute; }

.cloud-2 {
  width: 250px;
  height: 80px;
  left: 0px;
  bottom: 0px; }

.shadow-2 {
  left: -5px; }

.cloud-3 {
  width: 110px;
  height: 100px;
  bottom: 10px;
  left: 100px; }

.cloud-4 {
  width: 250px;
  height: 80px;
  bottom: 0px;
  left: 0px; }

.container-2 {
  position: absolute;
  left: 80%;
  top: 400px; }

.container-3 {
  position: absolute;
  left: 20%;
  top: 800px; }

.mailchimp-signup {
  margin-top: 20px; }
  .mailchimp-signup #mc_embed_signup {
    width: 50%;
    padding: 20px 40px 30px;
    margin: 0 auto;
    text-align: center; }
    .mailchimp-signup #mc_embed_signup .clear {
      display: inline; }
    .mailchimp-signup #mc_embed_signup form {
      margin-bottom: 0px; }
    .mailchimp-signup #mc_embed_signup input {
      margin-bottom: 0px;
      padding: 5px 20px; }
    .mailchimp-signup #mc_embed_signup input.email {
      width: 75%;
      height: 40px;
      border: none;
      font-size: 16px; }
    .mailchimp-signup #mc_embed_signup label {
      margin-bottom: 5px;
      display: block;
      font-size: 20px;
      color: white;
      font-family: "Roboto";
      padding: 10px 25px; }
    .mailchimp-signup #mc_embed_signup .button {
      box-shadow: none;
      height: 40px;
      border-radius: 0;
      background: #2b6de6;
      border: none;
      color: white;
      text-transform: uppercase;
      font-family: "Roboto";
      font-size: 14px;
      padding: 0px 30px; }
    .mailchimp-signup #mc_embed_signup .button:hover {
      background: #2c52af; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: #4dcdf7;
  padding: 50px; }

a {
  color: inherit; }

a:hover {
  color: #2c52af; }

span {
  font-family: "Roboto"; }

h1 {
  text-align: center;
  font-family: "Neucha", "san-serif";
  font-size: 12vw;
  color: white;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  background: transparent;
  letter-spacing: 10; }

h2 {
  font-family: "Helvetica";
  color: #2b6de6;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3vw;
  font-weight: 900; }

p {
  font-family: "Neucha";
  color: #2b6de6;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  font-size: 30px;
  font-weight: 600; }

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 16px; }

  p {
    font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
