$blue: #4d94ff;
$yellow: #fffd2e;
$green: #00ff00;
$pink: #ff94de;
$orange: #ffaa62;

$red: #ff2e8e;
$purple: #fc2eff;
$light-blue: #1ffff5;
$lightgray: #f8f8f8;

$art-gaming-color: $purple;
$health-color: $red;
$education-color: $orange;
$community-color: $green;
$city-life-color: $light-blue;

@import "neat/neat";
@import "mailchimp_signup";

.wrapper {
  padding: 0 10%;
  margin-bottom: 30px;
  @include clearfix;
}

body {
  margin: 0px;
  border-top: 30px solid black;
  border-bottom: 30px solid black;
}
a { color: inherit; }
a:hover { color: #2c52af; }
a span { font-family: "Roboto"; }
p {
  font-size: 18px;
  font-family: "Helvetica";
}
h2 {
  font-size: 36px;
  font-weight: 100;
  font-family: "Roboto";
}
h3 {
  font-size: 24px;
  margin-bottom: 0px;
  font-family: "Roboto";
}
h4 {
  font-size: 24px;
  font-weight: 100;
  font-family: "Roboto";
  margin-bottom: 0px;
}
h5 {
  font-family: "Roboto";
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
}

.capitalize { text-transform: uppercase; }

.topics {
  .boxed {
    margin-bottom: 20px;
    .box {
      padding: 3px 15px;
      border: 2px solid black;
      background: white;
    }
    .box-shadow {
      z-index: -999;
      top: 2px;
      height: 32px;
      left: 5px;
      &.health { background: $health-color; }
      &.education { background: $education-color; }
      &.city-life { background: $city-life-color; }
      &.community { background: $community-color; }
      &.art-gaming { background: $art-gaming-color; }
    }
  }
}

header {
  padding: 5% 20px;
  text-align: center;
  .boxed, .box { text-align: center; }
  .line-break::before {
    content: "\A";
    white-space: pre;
  }
  .date-location {
    font-weight: 600;
    margin-bottom: 0;
    .highlight {
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .conference-description {
    margin-top: 5px;
    span {
      border: 2px solid black;
      padding: 5px 30px;
      display: inline-block;
      background: white;
    }
  }
  span.highlight {
    background: white;
    padding: 5px 10px;
    display: inline-block;
    &.logo {
      padding: 10px;
      border-radius: 20%;
    }
  }
  background-image: url("maze-gray.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.get-tickets {
  text-transform: uppercase;
  font-size: 18px;
  background: $green;
  border: 2px solid black;
  padding: 5px 20px;
  font-weight: 600;
  font-family: "Roboto", san-serif;
  a { text-decoration: none; }
  &:hover {
    background: yellow;
    a { color: black; font-weight: 900; }
  }
}

article {
  @include outer-container();
  p { margin-top: 5px ; }
  &.program {
    @include span-columns(6);
  }
  &.conference-pitch {
    @include span-columns(8);
    @include shift(2);
    text-align: center;
    padding-top: 30px;
  }
  &.ticket-header {
    @include span-columns(8);
    @include shift(2);
    text-align: center;
    padding-top: 30px;
  }
  &.ticket {
    @include span-columns(4);
    padding-bottom: 20px;
    h4 { margin-top: 0; }
    text-align: center;
    &:hover {
      background: white;
      .student, .individual, .supporter {
        background: white;
      }
      .student .checkbox-top { background: yellow; }
      .individual .checkbox-top { background: $pink; }
      .supporter .checkbox-top { background: $blue; }
    }
  }
  &.buy-tickets {
    margin-top: 40px;
    @include span-columns(12);
    text-align: center;
  }
  &.ticket-explainer {
    @include span-columns(12);
    text-align: center;
    p { margin: 0; }
    .ticket-name {
      &::after { content: ":";}
      font-weight: 600;
    }
    .ticket-question {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: 600;
    }
  }
}

.ticket-info {
  background: $lightgray;
  padding-bottom: 90px;
  margin-bottom: 0px;
}

.tickets {
  @include span-columns(8);
  @include shift(2);
    a {
      text-decoration: none;
      &:hover {
        color: black;
      }
    }
}

footer {
  &.wrapper {
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 60px;
  }
  background: $lightgray;
  .about-codenewbie { @include span-columns(8); }
  .sponsorship { @include span-columns(4); }
}

// h2 {
//   font-family: "Helvetica";
//   text-transform: uppercase;
//   margin-bottom: 10px;
//   text-align: center;
//   font-size: 3vw;
//   font-weight: 900;
// }

// h3 {
//   font-family: "Helvetica";
//   font-size: 2vw;
//   font-weight: 100;
//   margin-top: 5px;
//   margin-bottom: 5px;
// }

// p {
//   font-family: "Helvetica";
//   margin-bottom: 0px;
//   margin-top: 0px;
//   text-align: center;
//   font-weight: 100;
// }

.boxed {
  margin-top: 10px;
  text-align: left;
  position: relative;
  .box-shadow {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 10px;
    width: auto;
    height: 40px;
    border: 2px solid black;
    z-index: -999;
    background: white;
  }
}

.checkbox {
  padding: 3px 9px;
  font-size: 10px;
  margin-right: 10px;
  &.student { background: yellow; }
  &.individual { background: $pink; }
  &.supporter { background: $blue; }
  border: 2px solid black;
  position: relative;
  .checkbox-top {
    position: absolute;
    padding: 3px 9px;
    font-size: 10px;
    height: 23px;
    margin-right: 8px;
    top: -6px;
    right: -5px;
    background: white;
    border: 2px solid black;
  }
}

//   section {
//     @include outer-container(100%);
//     .faqs, .venue { @include span-columns(6) };
//     .tickets {
//       @include span-columns(6);
//       background: #f8f8f8;
//       h2 {
//         text-align: center;
//         padding-top: 20px;
//   }
// }
//   article {
//     margin-bottom: 30px;
//     p {
//       font-size: 18px;
//       text-align: left;
//     }
//     h2 {
//       font-size: 24px;
//       text-align: left;
//     }
//   }
// }

// .description {
//   @include span-columns(9);
//   p {
//     text-align: left;
//     margin-bottom: 20px;
//   }
//   h3 {
//     font-weight: 500;
//     font-size: 24px;
//   }
// }

// .topics {
//   @include span-columns(3);
//   .boxed { text-align: right; }
//   .boxed .box-shadow {
//     right: -10px;
//     left: auto;
//     &.health { background: $health-color; }
//     &.education { background: $education-color; }
//     &.city-life { background: $city-life-color; }
//     &.community { background: $community-color; }
//     &.art-gaming { background: $art-gaming-color; }
//   }
//   .box { text-align: right; }
// }

@media only screen and (min-width: 599px){
  .line-break {
    content: "\A";
    white-space: pre;
  }
  img {
    max-width: 900px;
    margin: 0 auto;
  }
  .mobile { display: none; }
  .desktop { display: block; }
}

@media only screen and (max-width: 1000px){
  .tickets {
    @include shift(0);
    @include span-columns(12);
  }
}

@media only screen and (max-width: 500px){
  p { font-size: 12px; }
  h2, h3 { font-size: 18px; }
  article.ticket { @include span-columns(12); }
}

@media only screen and (max-width: 800px){
  .mobile { display: block; }
  .desktop { display: none; }
  article.program { @include span-columns(12); }
  img {
    margin: 0 auto;
    width: 100%;
  }
  header p { font-size: 12px; }
  h2 { font-size: 18px; }
  footer .about-codenewbie { @include span-columns(12); }
  footer .sponsorship { @include span-columns(12); }
  article {
    &.conference-pitch {
    @include span-columns(10);
    @include shift(1);
    }
  }
//   .topics, .description { @include span-columns(12); }
//   .topics .boxed {
//     text-align: left;
//     .box-shadow {
//       text-align: left;
//       left: 10px;
//       right: auto;
//     }
//   }
//   h1 {
//     font-size: 30vw;
//     line-height: .8;
//     span {
//       display: block;
//     }
//   }
//   h2 { font-size: 16px; }
//   p { font-size: 20px; }
}
