<section id="speakers" class="section-card speakers">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Call for Proposals 🎉
      </h1>
      <p class="section-container--description">
        Submit a proposal for a talk or workshop before the deadline on
        <strong>March 25 at 11:59 PM ET</strong>.
      </p>
      <ol>
        <li>
          Pick a submission type: talk or workshop.
        </li>
        <li>
          Review the entire application before starting.
        </li>
        <li>
          Fill out the application.
        </li>
        <li>
          Submit by <strong>March 25</strong> and wait for results!
          <br />
          You'll hear back either way.
        </li>
      </ol>
    </header>
    <article class="section-container--column--container column--2">
      <div class="column">
        <h3>
          Talks
        </h3>
        <p>
          Talks are 15 minutes. Pick from our themes below:
        </p>
        <ul>
          <li>
            <em>Be Amazed</em>
            <br />
            Exciting applications for new (non-proprietary)
            technologies.
          </li>
          <li>
            <em>The Big Picture</em>
            <br />
            Thought-provoking stories about how code is affecting society.
          </li>
          <li>
            <em>Deep Dive</em>
            <br />
            Dives into fundamental concepts that could affect how we think about
            software development.
          </li>
        </ul>
        <button type="submit" onClick="javascript:window.open('https://airtable.com/shryzIn05qvpvy71H', '_blank');">
          Apply to Talk
        </button>
      </div>
      <div class="column">
        <h3>
          Workshops
        </h3>
        <p>
          Workshops are 2.5 hours. Pick from our topics below:
        </p>
        <ul>
          <li>
            Creative Coding (cool, artsy things you can make with code!)
          </li>
          <li>
            New tech
          </li>
          <li>
            Accessibility
          </li>
          <li>
            Career/Personal Branding
          </li>
          <li>
            Security
          </li>
          <li>
            Technical Interviews/Resume Prep
          </li>
          <li>
            Computer Science Fundamentals
          </li>
          <li>
            Intro to Hardware
          </li>
          <li>
            Project Collaboration
          </li>
        </ul>
        <button type="submit" onClick="javascript:window.open('https://airtable.com/shr3WVHjTUNHTCeeY', '_blank');">
          Lead a workshop
        </button>
      </div>
    </article>
  </section>
</section>
