<section id="speakers" class="section-card speakers">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Call for Proposals 🎉
      </h1>
      <p class="section-container--description">
        We're currently accepting applications for proposals on talks and workshops you want to lead for Codeland, our CodeNewbie conference taking place on July 23 & 24, 2020 in NYC. Proposals are due <strong>XX/XX/XX</strong>.
      </p>
      <button type="button" formaction="https://airtable.com/shryzIn05qvpvy71H" formtarget="_blank">
        Apply to Speak
      </button>
    </header>
  </section>
</section>
