$neon: #0de846;
$dark-neon: #05ba34;
$light-neon: #16fa51;

$main: $neon;
$main-dark: $dark-neon;
$main-light: $light-neon;

$main-font: "Open Sans";

$blue: #4d94ff;
$yellow: #fffd2e;
$green: #00ff00;
$pink: #ff94de;
$orange: #ffaa62;
$main-orange: #ffc107;
$yellow: #F8E71C;
$light-orange: #fff1ca;
$light-yellow: #ffffed;
$light-green: #85ff85;

$red: #ff2e8e;
$purple: #fc2eff;
$light-blue: #1ffff5;
$lightgray: #f8f8f8;
$gray: #c9c9c9;
$charcoal: #454545;

$art-gaming-color: $purple;
$health-color: $red;
$education-color: $orange;
$community-color: $green;
$city-life-color: $light-blue;

@import "lib/_neat/neat";

@import "lib/_buttons";
@import "lib/_footer";
@import "lib/_header";
@import "lib/_love";
@import "lib/_mailchimp_signup";
@import "lib/_nav";
@import "lib/_quote";
@import "lib/_photo-panel";
@import "lib/_program_details";
@import "lib/_program_extras";
@import "lib/_recap";
@import "lib/_scholarship";
@import "lib/_speaker";
@import "lib/_schedule";
@import "lib/_section";
@import "lib/_sidebar";
@import "lib/_sponsors";
@import "lib/_tickets";
@import "lib/_venue_hotel";


.wrapper {
  padding: 10px 10% 30px;
  margin-bottom: 0px;
  @include clearfix;
}

body {
  margin: 0px;
  margin-top: -30px;
  padding-top: 80px;
  border-bottom: 30px solid $main;
}
a { color: inherit; }
a span { font-family: "Roboto"; }
p, li {
  font-size: 18px;
  font-family: "Helvetica";
}

.logo {
  font-family: "Ribeye Marrow";
  font-size: 48px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.logo--subheading {
  font-family: "Lato";
  font-size: 24px;
  padding-top: 0px;
  margin-top: 0px;
}

h2 {
  font-size: 36px;
  font-weight: 900;
  font-family: "Lato", "Helvetica", "san serif";
  text-transform: uppercase;
  margin-bottom: 10px;
}
h3 {
  font-size: 24px;
  margin-bottom: 0px;
  font-family: "Lato", "Helvetica", "san serif";
}
h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto";
  margin-bottom: 0px;
}
h5 {
  font-family: "Roboto";
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px;
}

.capitalize { text-transform: uppercase; }

.topics {
  .boxed {
    margin-bottom: 20px;
    .box {
      padding: 3px 15px;
      border: 2px solid black;
      background: white;
    }
    .box-shadow {
      z-index: -999;
      top: 2px;
      height: 32px;
      left: 5px;
      &.health { background: $health-color; }
      &.education { background: $education-color; }
      &.city-life { background: $city-life-color; }
      &.community { background: $community-color; }
      &.art-gaming { background: $art-gaming-color; }
    }
  }
}

article {
  @include outer-container();
  p { margin-top: 5px ; }
  &.program {
    @include span-columns(6);
  }
  &.conference-pitch {
    @include span-columns(8);
    @include shift(2);
    text-align: center;
  }
  &.ticket {
    @include span-columns(4);
    padding-bottom: 20px;
    h4 { margin-top: 0; }
    text-align: center;
    &:hover {
      background: white;
      .student, .individual, .supporter {
        background: white;
      }
      .student .checkbox-top { background: yellow; }
      .individual .checkbox-top { background: $pink; }
      .supporter .checkbox-top { background: $blue; }
    }
  }
  &.buy-tickets {
    margin-top: 40px;
    margin: 0 auto;
    text-align: center;
    @include span-columns(10);
    @include shift(1);
  }
  &.ticket-explainer {
    @include span-columns(10);
    @include shift(1);
    text-align: center;
    p { margin: 0; }
    .ticket-name {
      &::after { content: ":";}
      font-weight: bold;
    }
    .ticket-question {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: bold;
    }
  }
}

.ticket-info {
  background: $lightgray;
  padding-top: 60px;
  padding-bottom: 80px;
}

.tickets {
  padding: 30px 0px;
  a {
    text-decoration: none;
    &:hover {
      color: black;
      .ticket-update { background: yellow; }
    }
  }
  .ticket-update {
    font-size: 12px;
    color: $charcoal;
    border: 1px solid gray;
    padding: 2px 7px;
    text-transform: uppercase;
  }
}

[class*="-description"] {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
  h3 { text-align: center; }
  font-family: "Roboto", "Helvetica", "san serif";
  font-weight: 300;
  font-size: 24px;
  max-width: 1000px;
  margin: 0 auto;
}

.cfp-description {
  max-width: 700px;
  margin: 10px auto;
  text-align: center;
  h3 { text-align: center; }
}

.cfp-closed {
  background: $light-orange;
  padding-bottom: 50px;
}

.talk-type, .talk-category {
  text-transform: uppercase;
  padding: 3px 7px;
  font-size: 10px;
  font-weight: 600;
  display: inline-block;
  background: white;
}

.talk-type { border: 1px solid $gray; }
.talk-category {
  &.city-life { border: 1px solid $city-life-color; }
  &.health { border: 1px solid $health-color; }
  &.art-gaming { border: 1px solid $art-gaming-color; }
  &.education { border: 1px solid $education-color; }
  &.community { border: 1px solid $community-color; }
}

.full-program {
  .grid-item, .grid-sizer { width: 31%; margin: 1% }
  .day-one, .day-two {
    .program-item { border: 2px solid white; }
  }
  .program-list {
    .day-title { background: $yellow; }
    a:hover article {
      color: black;
    }
    .program-item:hover { border: 2px solid $yellow; }
  }
  .day-title {
    text-transform: uppercase; 
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
    padding: 20px;
  }
  background: $lightgray;
}
.program-item {
  background: white;
  .talk-meta {
    @include span-columns(2);
    img { width: 100%; }
  }
  padding: 20px;
  margin-bottom: 10px;
  .panelists {
    img { width: 18%; }
    a {
      text-decoration: none;
      img { border: 1px solid white; }
      &:hover img { border: 2px solid yellow; }
    }
  }

  .program-item-summary {
    display: inline-block;
    @include span-columns(10);
    padding-right: 10px;
    h2 { margin-top: 0px; }
    .talk-header { @include span-columns(12); }
   }
   .program-item-summary.panel { @include span-columns(12); }

   .program-item-author {
     margin-top: 0px;
     margin-bottom: 0px;
     font-weight: 300;
     font-family: "Roboto";
     font-size: 16px;
   }

   .program-item-title {
     margin-top: 0px;
     margin-bottom: 0px;
     font-weight: 500;
   }

   .program-item-abstract {
     margin-bottom: 0px;
   }
}

.speaker-list {
  @include clearfix;
}

.speaker {
  @include span-columns(2);
  @include omega(6n);
  background: $yellow;
  &:hover {
    background: black;
    .speaker-title { color: white; }
  }
  margin-bottom: 10px;
  position: relative;
  img {
    width: 100%;
    border: 5px $yellow solid;
  }
  .speaker-title {
    padding: 5px 15px 0px;
    font-family: "Lato", "Helvetica", "san serif";
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
  }
  a:hover img { border: 5px black solid; }
  a { text-decoration: none; }
  a:hover {
    color: white;
    .speaker-title { background: black; }
  }
}

.boxed {
  margin-top: 10px;
  text-align: left;
  position: relative;
  .box-shadow {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 10px;
    width: auto;
    height: 40px;
    border: 2px solid black;
    z-index: -999;
    background: white;
  }
}

.checkbox {
  padding: 3px 9px;
  font-size: 10px;
  margin-right: 10px;
  &.student { background: yellow; }
  &.individual { background: $pink; }
  &.supporter { background: $blue; }
  border: 2px solid black;
  position: relative;
  .checkbox-top {
    position: absolute;
    padding: 3px 9px;
    font-size: 10px;
    height: 23px;
    margin-right: 8px;
    top: -6px;
    right: -5px;
    background: white;
    border: 2px solid black;
  }
}

@media only screen and (min-width: 599px){
  img {
    max-width: 900px;
    margin: 0 auto;
  }
  .highlight { font-size: 28px; }
  .mobile { display: none; }
  .desktop { display: block; }
}
@media only screen and (max-width: 1350px){
  .speaker {
    @include span-columns(3);
    &:nth-child(6n+1) { clear: none; }
    @include omega(4n);
  }
}

@media only screen and (max-width: 900px){
  .speaker {
    @include span-columns(4);
    &:nth-child(4n+1) { clear: none; }
    @include omega(3n);
    .speaker-title { position: inherit; }
  }

  .program-item {
    img { display: none; }
    .program-item-summary {
      @include span-columns(12);
      padding: 10px;
    }
  }
}

@media only screen and (max-width: 500px){
  h2 { font-size: 22px; }
  h3 { font-size: 18px; }
  padding-bottom: 0px;
  article {
    @include shift(0);
    padding-bottom: 0px;
  }
  article.ticket, article.ticket-explainer {
    @include span-columns(12);
    @include shift(0);
  }
  .line-break::before {
    content: none;
    white-space: normal;
  }
}

@media only screen and (max-width: 800px){
  .full-program {
    .grid-sizer, .grid-item { width: 100%; }
  }
  .mobile { display: block; }
  .desktop { display: none; }
  article.program { @include span-columns(12); }
  img {
    margin: 0 auto;
    width: 100%;
  }
  h2 { font-size: 22px; }
  h2.conference-description { font-size: 18px; }
  article {
    &.conference-pitch {
    @include span-columns(10);
    @include shift(1);
    }
  }
}

@media only screen and (max-width: 600px){
  .full-program {
    .day-one, .day-two { @include span-columns(12); }
    .program-item { padding: 5px; }
  }
}
