html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.mailchimp-signup {
  display: block;
  background: black;
  padding-top: 30px; }
  .mailchimp-signup::after {
    clear: both;
    content: "";
    display: block; }
  .mailchimp-signup #mc_embed_signup {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    padding: 20px 40px 30px;
    text-align: center; }
    .mailchimp-signup #mc_embed_signup:last-child {
      margin-right: 0; }
    .mailchimp-signup #mc_embed_signup .clear {
      display: inline; }
    .mailchimp-signup #mc_embed_signup form {
      margin-bottom: 0px; }
    .mailchimp-signup #mc_embed_signup input {
      margin-bottom: 0px;
      padding: 5px 20px; }
    .mailchimp-signup #mc_embed_signup input.email {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      height: 50px;
      border: 2px solid black;
      font-size: 16px; }
      .mailchimp-signup #mc_embed_signup input.email:last-child {
        margin-right: 0; }
    .mailchimp-signup #mc_embed_signup label {
      display: block;
      font-size: 20px;
      color: white;
      font-family: "Roboto";
      padding: 60px 10px 10px; }
    .mailchimp-signup #mc_embed_signup .button {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      box-shadow: none;
      height: 50px;
      border-radius: 0;
      background: #00ff00;
      border: 2px solid black;
      color: black;
      text-transform: uppercase;
      font-family: "Roboto";
      font-size: 18px;
      font-weight: 900;
      padding: 0px 30px;
      cursor: pointer;
      white-space: no-wrap;
      -webkit-appearance: none; }
      .mailchimp-signup #mc_embed_signup .button:last-child {
        margin-right: 0; }
    .mailchimp-signup #mc_embed_signup .button:hover {
      background: #fffd2e; }
  @media only screen and (min-width: 750px) and (max-width: 900px) {
    .mailchimp-signup #mc_embed_signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      padding: 2px 4px 3px; }
      .mailchimp-signup #mc_embed_signup:last-child {
        margin-right: 0; } }
  @media only screen and (max-width: 749px) {
    .mailchimp-signup #mc_embed_signup {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%;
      padding: 2px 4px 3px; }
      .mailchimp-signup #mc_embed_signup:last-child {
        margin-right: 0; }
      .mailchimp-signup #mc_embed_signup input.email {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        text-align: center;
        margin-bottom: 10px; }
        .mailchimp-signup #mc_embed_signup input.email:last-child {
          margin-right: 0; }
      .mailchimp-signup #mc_embed_signup .button {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 20px; }
        .mailchimp-signup #mc_embed_signup .button:last-child {
          margin-right: 0; } }

.speaker-page nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding: 20px;
  background: white; }
  .speaker-page nav img {
    max-width: 200px; }
  .speaker-page nav .boxed {
    float: right;
    margin-top: 0px; }
.speaker-page section {
  padding: 50px 10%; }
.speaker-page .speaker-profile img {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .speaker-page .speaker-profile img:last-child {
    margin-right: 0; }
.speaker-page .speaker-profile h5 {
  margin-top: 0px;
  margin-bottom: 0px; }
.speaker-page .speaker-profile .speaker-profile-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .speaker-page .speaker-profile .speaker-profile-info:last-child {
    margin-right: 0; }
  .speaker-page .speaker-profile .speaker-profile-info h2 {
    margin-top: 0px;
    text-transform: none; }
  .speaker-page .speaker-profile .speaker-profile-info h4 {
    margin-top: 0px; }
.speaker-page .speaker-profile .speaker-bio-name {
  font-weight: 600; }
@media only screen and (max-width: 500px) {
  .speaker-page .mobile {
    display: inline-block; }
  .speaker-page .desktop {
    display: none; }
  .speaker-page nav img {
    max-width: 50%; }
  .speaker-page nav div.button.get-tickets.box {
    font-size: 12px; }
  .speaker-page section {
    padding: 10px 10%; }
  .speaker-page .speaker-profile div.speaker-profile-info {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .speaker-page .speaker-profile div.speaker-profile-info:last-child {
      margin-right: 0; } }
@media only screen and (min-width: 501px) {
  .speaker-page .mobile {
    display: none; }
  .speaker-page .desktop {
    display: inline-block; } }

.wrapper {
  padding: 10px 10%;
  margin-bottom: 15px; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }

body {
  margin: 0px;
  border-top: 30px solid black;
  border-bottom: 30px solid black; }

a {
  color: inherit; }

a:hover {
  color: #00ff00; }

a span {
  font-family: "Roboto"; }

p, li {
  font-size: 18px;
  font-family: "Helvetica"; }

h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: "Roboto", "san serif";
  text-transform: uppercase;
  margin-bottom: 10px; }

h3 {
  font-size: 24px;
  margin-bottom: 0px;
  font-family: "Roboto"; }

h4 {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto";
  margin-bottom: 0px; }

h5 {
  font-family: "Roboto";
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 20px; }

.capitalize {
  text-transform: uppercase; }

.topics .boxed {
  margin-bottom: 20px; }
  .topics .boxed .box {
    padding: 3px 15px;
    border: 2px solid black;
    background: white; }
  .topics .boxed .box-shadow {
    z-index: -999;
    top: 2px;
    height: 32px;
    left: 5px; }
    .topics .boxed .box-shadow.health {
      background: #ff2e8e; }
    .topics .boxed .box-shadow.education {
      background: #ffaa62; }
    .topics .boxed .box-shadow.city-life {
      background: #1ffff5; }
    .topics .boxed .box-shadow.community {
      background: #00ff00; }
    .topics .boxed .box-shadow.art-gaming {
      background: #fc2eff; }

header {
  padding: 5% 20px;
  text-align: center;
  background-image: url("../images/maze-asia-big.png");
  background-repeat: no-repeat;
  background-size: 100%; }
  header .boxed, header .box {
    text-align: center; }
  header .date-location {
    font-weight: 500;
    margin-bottom: 0; }
    header .date-location .highlight {
      padding-top: 10px;
      padding-left: 15px;
      padding-right: 15px; }
  header .conference-description {
    max-width: 680px;
    margin: 10px auto;
    text-transform: none; }
  header .conference-header {
    margin-top: 0px; }
    header .conference-header span {
      border: 2px solid black;
      padding: 5px 30px;
      display: inline-block;
      background: white;
      font-size: 22px; }
  header span.highlight {
    background: white;
    padding: 5px 10px;
    display: inline-block; }
    header span.highlight.logo {
      padding: 10px;
      padding-bottom: 0px;
      border-radius: 20%; }

.apply-button, .donate-button {
  background: yellow; }
  .apply-button:hover, .donate-button:hover {
    background: #00ff00; }

.button, .get-tickets {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  background: #00ff00;
  border: 2px solid black;
  padding: 5px 20px;
  font-weight: 500;
  font-family: "Roboto", san-serif; }
  .button a, .get-tickets a {
    text-decoration: none; }
  .button:hover, .get-tickets:hover {
    background: yellow; }
    .button:hover a, .get-tickets:hover a {
      color: black;
      font-weight: 900; }

article {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  article::after {
    clear: both;
    content: "";
    display: block; }
  article p {
    margin-top: 5px; }
  article.program {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    article.program:last-child {
      margin-right: 0; }
  article.conference-pitch {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-left: 17.05961%;
    text-align: center; }
    article.conference-pitch:last-child {
      margin-right: 0; }
  article.ticket-header {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    text-align: center; }
    article.ticket-header:last-child {
      margin-right: 0; }
  article.ticket {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding-bottom: 20px;
    text-align: center; }
    article.ticket:last-child {
      margin-right: 0; }
    article.ticket h4 {
      margin-top: 0; }
    article.ticket:hover {
      background: white; }
      article.ticket:hover .student, article.ticket:hover .individual, article.ticket:hover .supporter {
        background: white; }
      article.ticket:hover .student .checkbox-top {
        background: yellow; }
      article.ticket:hover .individual .checkbox-top {
        background: #ff94de; }
      article.ticket:hover .supporter .checkbox-top {
        background: #4d94ff; }
  article.buy-tickets {
    margin-top: 40px;
    margin: 0 auto;
    text-align: center;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    article.buy-tickets:last-child {
      margin-right: 0; }
  article.ticket-explainer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%;
    text-align: center; }
    article.ticket-explainer:last-child {
      margin-right: 0; }
    article.ticket-explainer p {
      margin: 0; }
    article.ticket-explainer .ticket-name {
      font-weight: bold; }
      article.ticket-explainer .ticket-name::after {
        content: ":"; }
    article.ticket-explainer .ticket-question {
      margin-top: 30px;
      margin-bottom: 10px;
      font-weight: bold; }

.ticket-info {
  background: #f8f8f8;
  padding-bottom: 40px; }

.tickets {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-left: 17.05961%; }
  .tickets:last-child {
    margin-right: 0; }
  .tickets a {
    text-decoration: none; }
    .tickets a:hover {
      color: black; }

[class*="-description"] {
  max-width: 700px;
  margin: 10px auto;
  text-align: center; }
  [class*="-description"] h3 {
    text-align: center; }

.cfp-description {
  max-width: none;
  background: #00ff00;
  padding: 20px 30px; }

.full-program {
  background: #f8f8f8; }
  .full-program .day-one, .full-program .day-two {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .full-program .day-one:last-child, .full-program .day-two:last-child {
      margin-right: 0; }
    .full-program .day-one .program-item, .full-program .day-two .program-item {
      border: 5px solid white; }
  .full-program .day-one .day-title {
    background: #00ff00; }
  .full-program .day-one a:hover .program-item {
    border: 5px solid #00ff00; }
  .full-program .day-two .day-title {
    background: #fffd2e; }
  .full-program .day-two a:hover .program-item {
    border: 5px solid #fffd2e; }
  .full-program .day-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 20px;
    padding: 20px; }
  .full-program a:hover .program-item {
    color: black; }

.program-item {
  background: white;
  padding: 20px;
  margin-bottom: 10px; }
  .program-item img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 14.70196%; }
    .program-item img:last-child {
      margin-right: 0; }
  .program-item .program-item-summary {
    display: inline-block;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    padding-right: 10px; }
    .program-item .program-item-summary:last-child {
      margin-right: 0; }
    .program-item .program-item-summary h2 {
      margin-top: 0px; }
  .program-item .program-item-author {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 300;
    font-family: "Roboto";
    font-size: 16px; }
  .program-item .program-item-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 500; }
  .program-item .program-item-abstract {
    margin-bottom: 0px; }

.speaker-list::after {
  clear: both;
  content: "";
  display: block; }

.speaker {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%;
  margin-bottom: 10px;
  position: relative; }
  .speaker:last-child {
    margin-right: 0; }
  .speaker:nth-child(6n) {
    margin-right: 0; }
  .speaker:nth-child(6n+1) {
    clear: left; }
  .speaker img {
    width: 100%; }
  .speaker .speaker-title {
    background: #ffedff;
    padding: 5px 15px;
    font-family: "Roboto";
    margin-top: 0px; }
  .speaker a:hover img {
    border: 5px #ffedff solid; }
  .speaker a .speaker-title {
    text-decoration: none; }
  .speaker a:hover {
    color: black; }

.sponsor-list::after {
  clear: both;
  content: "";
  display: block; }
.sponsor-list .flex-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center; }
  .sponsor-list .flex-container .sponsor-image {
    padding: 20px 3.5%;
    align-items: center; }
    .sponsor-list .flex-container .sponsor-image img {
      width: 100%; }
  .sponsor-list .flex-container:first .sponsor-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .sponsor-list .flex-container:first .sponsor-image:last-child {
      margin-right: 0; }
    .sponsor-list .flex-container:first .sponsor-image:nth-child(4n) {
      margin-right: 0; }
    .sponsor-list .flex-container:first .sponsor-image:nth-child(4n+1) {
      clear: left; }
  .sponsor-list .flex-container:last .sponsor-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 40.29137%; }
    .sponsor-list .flex-container:last .sponsor-image:last-child {
      margin-right: 0; }
    .sponsor-list .flex-container:last .sponsor-image:nth-child(2n) {
      margin-right: 0; }
    .sponsor-list .flex-container:last .sponsor-image:nth-child(2n+1) {
      clear: left; }

.scholarship-options {
  display: flex; }

.scholarship-application, .scholarship-donate {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  padding: 30px 40px; }
  .scholarship-application:last-child, .scholarship-donate:last-child {
    margin-right: 0; }
  .scholarship-application h3, .scholarship-donate h3 {
    margin: 0; }

.scholarship-application {
  background: #ffedff; }
  .scholarship-application .button {
    background: #f52eff; }

.scholarship-donate {
  background: #fff4d6; }
  .scholarship-donate .button {
    background: #ffaa62; }

footer {
  background: #f8f8f8; }
  footer.wrapper {
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 60px; }
  footer .about-codenewbie {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    footer .about-codenewbie:last-child {
      margin-right: 0; }
  footer .sponsorship {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    footer .sponsorship:last-child {
      margin-right: 0; }

.boxed {
  margin-top: 10px;
  text-align: left;
  position: relative; }
  .boxed .box-shadow {
    display: inline-block;
    position: absolute;
    top: -5px;
    left: 10px;
    width: auto;
    height: 40px;
    border: 2px solid black;
    z-index: -999;
    background: white; }

.checkbox {
  padding: 3px 9px;
  font-size: 10px;
  margin-right: 10px;
  border: 2px solid black;
  position: relative; }
  .checkbox.student {
    background: yellow; }
  .checkbox.individual {
    background: #ff94de; }
  .checkbox.supporter {
    background: #4d94ff; }
  .checkbox .checkbox-top {
    position: absolute;
    padding: 3px 9px;
    font-size: 10px;
    height: 23px;
    margin-right: 8px;
    top: -6px;
    right: -5px;
    background: white;
    border: 2px solid black; }

@media only screen and (min-width: 599px) {
  img {
    max-width: 900px;
    margin: 0 auto; }

  .mobile {
    display: none; }

  .desktop {
    display: block; } }
@media only screen and (max-width: 1350px) {
  .speaker {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .speaker:last-child {
      margin-right: 0; }
    .speaker:nth-child(6n+1) {
      clear: none; }
    .speaker:nth-child(4n) {
      margin-right: 0; }
    .speaker:nth-child(4n+1) {
      clear: left; } }
@media only screen and (max-width: 900px) {
  .speaker {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .speaker:last-child {
      margin-right: 0; }
    .speaker:nth-child(4n+1) {
      clear: none; }
    .speaker:nth-child(3n) {
      margin-right: 0; }
    .speaker:nth-child(3n+1) {
      clear: left; }
    .speaker .speaker-title {
      position: inherit; }

  .program-item img {
    display: none; }
  .program-item .program-item-summary {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 10px; }
    .program-item .program-item-summary:last-child {
      margin-right: 0; } }
@media only screen and (max-width: 1000px) {
  .tickets {
    margin-left: 0%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .tickets:last-child {
      margin-right: 0; } }
@media only screen and (max-width: 500px) {
  p {
    font-size: 12px; }

  h2 {
    font-size: 22px; }

  h3 {
    font-size: 18px; }

  padding-bottom: 0px;
  article {
    margin-left: 0%;
    padding-bottom: 0px; }

  article.ticket, article.ticket-explainer {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-left: 0%; }
    article.ticket:last-child, article.ticket-explainer:last-child {
      margin-right: 0; }

  .line-break::before {
    content: none;
    white-space: normal; }

  .sponsor-list .flex-container .sponsor-image {
    padding: 20px 7px; } }
@media only screen and (max-width: 800px) {
  .mobile {
    display: block; }

  .desktop {
    display: none; }

  article.program {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    article.program:last-child {
      margin-right: 0; }

  img {
    margin: 0 auto;
    width: 100%; }

  header p {
    font-size: 12px; }

  h2 {
    font-size: 22px; }

  h2.conference-description {
    font-size: 18px; }

  footer .about-codenewbie {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    footer .about-codenewbie:last-child {
      margin-right: 0; }

  footer .sponsorship {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    footer .sponsorship:last-child {
      margin-right: 0; }

  article.conference-pitch {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin-left: 8.5298%; }
    article.conference-pitch:last-child {
      margin-right: 0; }

  .scholarship-application, .scholarship-donate {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-bottom: 10px; }
    .scholarship-application:last-child, .scholarship-donate:last-child {
      margin-right: 0; }

  .scholarship-options {
    display: block; } }
@media only screen and (max-width: 600px) {
  header .conference-header span {
    font-size: 12px; }

  .sponsor-list .sponsor-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .sponsor-list .sponsor-image:last-child {
      margin-right: 0; }

  .full-program .day-one, .full-program .day-two {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .full-program .day-one:last-child, .full-program .day-two:last-child {
      margin-right: 0; }
  .full-program .program-item {
    padding: 5px; } }

/*# sourceMappingURL=style.css.map */
