<div class="additional-info">
  <div class="additional-info--grid">
    <div class="additional-info--left">
      <div class="sponsorship additional-info--item">
        <h3 class="additional-info--header">Sponsorship</h3>
        <p class="additional-info--content">Email us at
        <strong>sponsorships@codenewbie.org</strong> for
          our sponsorship prospectus.</p>
      </div>
      <div class="sponsorship additional-info--item">
        <h3 class="additional-info--header">About CodeNewbie</h3>
        <p class="additional-info--content">CodeNewbie is the most supportive community of programmers and people
          learning to code. We produce content to support people on their coding
          journey.
        </p>
      </div>
    </div>
    <div class="additional-info--links">
      <div class="company-links">
        <a class="company-links--item" href="https://www.codenewbie.org" target="_blank">
          <img src="https://s3.amazonaws.com/codenewbie-assets/codenewbie+logo.png">
        </a>
        <a class="company-links--item" href="https://twitter.com/CodeNewbies"
        target="_blank">@Codelandconf</a>
        <a class="company-links--item" href="/coc">Code of Conduct</a>
      </div>
      <div class="contact-info">
        <h4 class="contact-info--header">Contact</h4>
        <p class="contact-info--body">
          codeland@codenewbie.org
        </p>
      </div>
    </div>
  </div>
</div>
