<section id="attend" class="section-card attend" aria-labelledby="attendHeader">
  <div class="section-container">
    <header class="section-container--header">
      <h2 class="headline-display section-container--title" id="attendHeader">
        Attend
      </h2>
      <p>
        CodeLand 2021 is an entirely remote two-day conference. Each day will be six hours long (9am-3pm PT / 12-6pm ET / 4-10pm UTC) and will consist of a mix of live keynotes, pre-recorded talks, and live speaker panels on both days.
      </p>
      <p>
        <em>Stay tuned for more information on the details and structure of the event!</em>
      </p>
    </header>
    <div class="section-container--body">
      <div class="attend--information">
        <section class="attend--about" aria-labelledby="registrationHeader">
          <div class="section-container--block">
            <h3 class="section-container--title" id="registrationHeader">
              Registration
            </h3>
            <p>
              Registration has not yet opened for CodeLand 2021. Stay tuned to <a href="https://dev.to">DEV</a>, <a href="http://community.codenewbie.org">CodeNewbie Community</a>, and this site for updates.
            </p>
          </div>
        </section>
        <section class="attend--registration" aria-labelledby="costHeader">
          <div class="section-container--block registration--information">
            <h3 id="costHeader">
              Cost
            </h3>
            <p>
              Free access to all keynotes, talks, and panels.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>