<section id="attend" class="section-card attend">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Attend
      </h1>
      <p>
        CodeLand 2021 is an entirely remote two-day conference. Each day will be six hours long (9am-3pm PT / 12-6pm ET / 4-10pm UTC) and will consist of a mix of live keynotes, pre-recorded talks, and live speaker panels on both days.
        <br><br>
        <em>Stay tuned for more information on the details and structure of the event!</em>
      </p>
    </header>
    <div class="section-container--body">
      <div class="attend--information">
        <article class="attend--about">
          <section class="section-container--block">
            <h3 class="section-container--title">
              Registration
            </h3>
            <p>
              Registration has not yet opened for CodeLand 2021. Stay tuned to <a href="http://dev.to">DEV,</a> <a href="http://community.codenewbie.org">CodeNewbie Community,</a> and this site for updates.
            </p>
          </section>
        </article>
        <article class="attend--registration">
          <section class="section-container--block registration--information">
            <h3>
              Cost
            </h3>
            <p>
              Free access to all keynotes, talks, and panels.
            </p>
          </section>
        </article>
      </div>
      <div class="section-container--body important-dates">
        <h3>
          Important Dates
        </h3>
        <ul>
          <li>
            <div class="important-dates--information">
              <div class="important-dates--date">
                <p>
                  June 22
                </p>
              </div>
            </div>
            <div class="important-dates--event">
              <p>
                Call-For-Proposals (CFP) opens
              </p>
            </div>
          </li>
          <li>
            <div class="important-dates--information">
              <div class="important-dates--date">
                <p>
                  July 20
                </p>
              </div>
            </div>
            <div class="important-dates--event">
              <p>
                CFP closes
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
</section>