<section id="attend" class="section-card attend" aria-labelledby="attendHeader">
  <div class="section-container">
    <header class="section-container--header">
      <h2 class="headline-display section-container--title" id="attendHeader">
        Attend
      </h2>
      <p>
        CodeLand 2022 is taking place right now (June 16-17) from 9am-3pm PT / 12-6pm ET / 4-10pm UTC. Go check it out <a href="https://community.codenewbie.org/codeland">here</a> while you can! The full CodeLand 2022 experience is only available to those who register, which you can do via the link below.
      </p>
    </header>
    <div class="section-container--body">
      <div class="attend--information">
        <section class="attend--about" aria-labelledby="registrationHeader">
          <div class="section-container--block">
            <h3 class="section-container--title" id="registrationHeader">
              Registration is Open!
            </h3>
            <p><%= partial "layouts/register_cta" %></p>
          </div>
        </section>
        <section class="attend--registration" aria-labelledby="costHeader">
          <div class="section-container--block registration--information">
            <h3 id="costHeader">
              Cost
            </h3>
            <p>
              CodeLand 2022 is pay-what-you-want — starting at $0.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>