<section id="attend" class="section-card attend" aria-labelledby="attendHeader">
  <div class="section-container">
    <header class="section-container--header">
      <h2 class="headline-display section-container--title" id="attendHeader">
        Attend
      </h2>
      <p>
        CodeLand 2021 is an entirely remote two-day conference. Each day will be six hours long (9am-3pm PT / 12-6pm ET / 4-10pm UTC) and will consist of a mix of live keynotes, live speaker panels, pre-recorded talks, and optional add-on workshops on both days.
      </p>
    </header>
    <div class="section-container--body">
      <div class="attend--information">
        <section class="attend--about" aria-labelledby="registrationHeader">
          <div class="section-container--block">
            <h3 class="section-container--title" id="registrationHeader">
              Registration
            </h3>
            <p>
              Join us for CodeLand 2021 by registering <a href="https://ti.to/codenewbie/codeland-2021">here.</a>
            </p>
          </div>
        </section>
        <section class="attend--registration" aria-labelledby="costHeader">
          <div class="section-container--block registration--information">
            <h3 id="costHeader">
              Cost
            </h3>
            <p>
              Free access to all keynotes, talks, and panels. $25 add-on fee for optional workshops led by the <a href="https://forem.com">Forem</a> team.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>