<section id="attend" class="section-card attend" aria-labelledby="attendHeader">
  <div class="section-container">
    <header class="section-container--header">
      <h2 class="headline-display section-container--title" id="attendHeader">
        Attend
      </h2>
      <p>
        CodeLand 2022 is an entirely remote two-day conference. Each day will be six hours long (9am-3pm PT / 12-6pm ET / 4-10pm UTC) and will consist of a mix of keynotes, live speaker panels, pre-recorded talks, and engaging activities.
      </p>
    </header>
    <div class="section-container--body">
      <div class="attend--information">
        <section class="attend--about" aria-labelledby="registrationHeader">
          <div class="section-container--block">
            <h3 class="section-container--title" id="registrationHeader">
              Registration
            </h3>
            <p>
              Return here on <strong>April 26, 2022</strong> to grab your ticket!
            </p>
          </div>
        </section>
        <section class="attend--registration" aria-labelledby="costHeader">
          <div class="section-container--block registration--information">
            <h3 id="costHeader">
              Cost
            </h3>
            <p>
              CodeLand 2022 is pay-what-you-want — starting at $0.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>