<section class="banner-section">
	<div class="site-banner">
		<h1 class="site-banner--header">CodeLand 2022 is here! <a href="https://community.codenewbie.org/codeland">→ Enter the event portal</a></h1>
	</div>
</section>