<section class="banner-section">
	<div class="site-banner">
		<div class="site-banner--notice">
			Tracy Chou Has Been Announced as a Speaker at CodeLand 2022! <a href="https://community.codenewbie.org/codenewbie/tracy-chou-to-speak-at-codeland-2022-3e5f">Read the Announcement.</a>
		</div>
	</div>
</section>