<section class="banner-section">
	<div class="site-banner">
		<div class="site-banner--notice">Angie Jones Has Been Announced as CodeLand 2022's First Keynote Speaker. <a href="https://community.codenewbie.org/codenewbie/announcing-codeland-2022s-first-keynote-speaker-angie-jones-1gn8">Learn More here!</a></div>
	</div>
</section>