<section class="banner-section">
	<div class="site-banner">
		<div class="site-banner--notice">
		<strong>CodeLand 2022 is a wrap!</strong><br />
Thanks to our incredible attendees, speakers, sponsors, & organizers for helping make CodeLand a reality. All registrants have been emailed an experience survey — please share your feedback so we can make CodeLand even better in the future!
		</div>
	</div>
</section>