<section class="banner-section">
	<div class="site-banner">
		<div class="site-banner--notice">
			Registration for CodeLand 2022 is <a href="#attend">now open</a> and <a href="#program">our program</a> is live!
		</div>
	</div>
</section>