<section class="banner-section">
	<div class="site-banner">
		<div class="site-banner--notice">Angie Jones Has Been Announced as CodeLand 2022's First Keynote Speaker. <a href="#">Learn More here!</a></div>
	</div>
</section>