<section class="banner-section">
	<div class="site-banner">
		<h1 class="site-banner--header">CodeLand 2021 is Happening Now! <a href="https://community.codenewbie.org">→ Enter the event</a></h1>
	</div>
</section>