<section class="wrapper scholarship">
  <article class="cfp-description">
    <h3 id="cfp">How To Speak at Codeland</h3>
    <p>Our goal is to craft the highest quality, most engaging talks you’ve ever heard at a tech conference. We work with all our speakers to make sure your slides are engaging, your presentation is polished, and your talk is full of helpful, applicable content. Creating a talk for Codeland is a collaborative process, and we hope to work with you to bring your story to our community.</p>
    <p>Applications due by Jan 8, 2017 at 11:59PM EST.</p>
  </article>
  <div class="scholarship-options">
    <article class="scholarship-application">
      <h3>Apply to be a Panelist</h3>
      <p>We’re looking to create panels that represent the stories, experiences, and knowledge of coders from a wide range of backgrounds. If you’d like to be a panelist, click apply to view the list of panel topics and find the one that’s right for you. We welcome first-time panelists, no expertise required.</p>
      <article class="apply">
        <span class="boxed">
          <button class="apply-button box">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSdTNssOLJJPwxy9E57H1oXHzxOuGWYR0IYmlafAGw7LTvTfSQ/viewform" target="_blank" class="box">apply</a>
          </button>
        </span>
      </article>
    </article>
    <article class="scholarship-donate">
      <h3>Submit a Talk</h3>
      <p>We’re excited to welcome first-time speakers and seasoned speakers to submit a talk covering a wide range of technical and non-technical topics. Before submitting, please review the full application. It’s more involved that most tech conference CFPs, so take your time, and email us if you have any questions.</p>
      <article class="donate">
        <span class="boxed">
          <button class="donate-button box">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0oA_VuOWPjdGDbX5BFomTl-5mB2hB7dthOAEPc_QJkaQDHA/viewform" target="_blank" class="box">submit</a>
          </button>
        </span>
      </article>
    </article>
  </div>
</section>
