<section id="cfp" class="wrapper scholarship cfp-closed">
  <article class="cfp-description">
    <h2>CFP</h2>
    <h3>Speaking at Codeland 2018</h3>
    <p>
    The Codeland CFP is now closed and we're currently reviewing proposals for talks
    and workshops. We'll be announcing our final program soon!
    </p>
  </article>
</section>
