<section id="cfp" class="wrapper cfp">
  <article class="cfp--header">
    <h2 class="cfp--title">CFP</h2>
    <p class="cfp--description">
      Submit a talk, workshop, or performance by March 13.
    </p>
  </article>
  <div class="cfp--details">
    <div class="cfp--instructions">
      <h3>Steps</h3>
      <ol class="instructions--items">
        <li class="instructions--item"><span
        class="instruction--highlight">Pick</span> a submission type: talk, performance, workshop.</li>
        <li class="instructions--item"><span
        class="instruction--highlight">Review</span> the entire application before starting.</li>
        <li class="instructions--item"><span
        class="instruction--highlight">Fill</span> out the application.</li>
        <li class="instructions--item"><span
        class="instruction--highlight">Submit by March 13</span> and wait for results! You'll hear back either way.</li>
      </ol>
    </div>
    <div class="cfp--faqs">
      <h3>FAQs</h3>
      <ul class="faqs--items">
        <li class="faqs--item">
          <span class="question">What are you looking for?</span>
          <span class="answer">Great stories from passionte coders! We're looking
          for submissions that inspire, educate, and are tailored to
            new developers.</span>
        </li>
        <li class="faqs--item">
          <span class="question">Do I have to be an expert?</span>
          <span class="answer">You're an expert in your own experience,
          and we want to hear your story. You should be knowledgeable about what you're submitting, but you don't need expertise.</span>
        </li>
        <li class="faqs--item">
          <span class="question">What if I'm submitting for the first
          time?</span>
          <span class="answer">We love first timers! Our application and review
          process are designed to give you the best shot at being selected.</span>
        </li>
        <li class="faqs--item">
          <span class="question">Can I submit a talk I've already done? Can I submit
          multiple times?</span>
          <span class="answer"> Yes and yes! If there's already a talk you love,
          submit it! And if you have multiple ideas, send as all of them!</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="cfp--options">
    <div class="options--item">
      <div>
        <h3 class="options--title">Talks</h3>
        <p class="options--description">
          Talks are either 3 or 15 minutes. Pick from our topics below.
        </p>
        <ul class="cfp--topics">
          <li>Art/Creative Coding</li>
          <li>Gaming</li>
          <li>Health/Life Sciences</li>
          <li>Community</li>
          <li>Civic Tech</li>
          <li>Career</li>
          <li>My Coding Journey</li>
        </ul>
      </div>
      <div class="cfp--cta">
        <a target="_blank" href="https://airtable.com/shrcq40Mk69TOG6wm"
          class="cta cta--link">
          <div class="cta--get-ticket">
            Submit
          </div>
        </a>
      </div>
    </div>
    <div class="options--item">
      <div>
        <h3 class="options--title">Workshops</h3>
        <p class="options--description">
          Workshops are 2.5 hours. Pick from our topics below.
        </p>
        <ul class="cfp--topics">
          <li>Creative Coding</li>
          <li>New Tech</li>
          <li>Accessibility</li>
          <li>Career/Personal Branding</li>
          <li>Security</li>
          <li>Technical Interviews</li>
          <li>Resume Prep</li>
          <li>Computer Science</li>
          <li>Intro to Hardware</li>
          <li>Freelance</li>
          <li>JavaScript</li>
          <li>Front-end</li>
        </ul>
      </div>
      <div class="cfp--cta">
        <a target="_blank" href="https://airtable.com/shrb6zSma2aoyoosW"
          class="cta cta--link">
          <div class="cta--get-ticket">
            submit
          </div>
        </a>
      </div>
    </div>
    <div class="options--item">
      <div>
        <h3 class="options--title">Performance</h3>
        <p class="options--description">
          Performances 2-5 minutes long. pick from the following types:
        </p>
        <ul class="cfp--topics">
          <li>Music</li>
          <li>Poetry</li>
          <li>Rap</li>
          <li>Dance</li>
        </ul>
      </div>
      <div class="cfp--cta">
        <a target="_blank" href="https://airtable.com/shr8L4AZSyLKn30iq"
          class="cta cta--link">
          <div class="cta--get-ticket">
            submit
          </div>
        </a>
      </div>
    </div>
  <div>
</section>
