<section id="cfp" class="section-card cfp">
  <div class="mask"></div>
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Submit a talk
      </h1>
      <p class="section-container--description">
        The magic of CodeLand lies in our fantastic talks from a diverse group of speakers – from the CodeNewbie Community and beyond! No two talks will be alike, but together, they’ll be inspiring and packed with practical information.
        <br>
        <br>
        Our <a href="https://cfp.codelandconf.com/events/codeland-2021" target="_blank" rel="noopener noreferrer">Call for Proposals (CFP)</a> is open now! It closes on July 20, so be sure to submit your ideas for great CodeLand talks before then.
      </p>
    </header>
  </section>
</section>