<section id="cfp" class="section-card cfp" aria-labelledby="cfpHeader">
  <div class="mask"></div>
  <div class="section-container">
    <div class="section-container--header">
      <h2 class="headline-display section-container--title" id="cfpHeader">
        Submit a talk
      </h2>
      <p class="section-container--description">
        The magic of CodeLand lies in our fantastic talks from a diverse group of speakers &mdash; from the CodeNewbie Community and beyond! No two talks will be alike, but together, they’ll be inspiring and packed with practical information.
      </p>
      <p>
        The CodeLand call-for-proposals is open from March 1 to March 29, 2022. Our program committee looks forward to reviewing your talk geared at inspiring and educating early-career software developers and their champions. Find full instructions and submit your proposal <a href="/https://cfp.codelandconf.com/events/codeland-2022" target="_blank" rel="noopener noreferrer">here</a>.
      </p>
    </div>
  </div>
</section>