<section id="cfp" class="section-card cfp">
  <div class="mask"></div>
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Submit a talk
      </h1>
      <p class="section-container--description">
        The magic of CodeLand lies in our fantastic talks from a diverse group of speakers – from the CodeNewbie Community and beyond! No two talks will be alike, but together, they’ll be inspiring and packed with practical information.
        <br>
        <br>
        Our Call-for-Proposals (CFP) opens on June 22. Check back here at that time for information if you would like to be one of our speakers.
      </p>
    </header>
  </section>
</section>