<section id="cfp" class="section-card cfp" aria-label="Call for Proposals">
  <div class="mask"></div>
  <div class="section-container">
    <div class="section-container--header">
      <p>
        <em class="normal-em">The CodeLand Call-For-Proposals closed on March 29, 2022. Our Program Committee is currently reviewing submissions and we'll be announcing selections in the coming weeks. If you submitted a talk, please monitor your email for communications from our team about the status of your proposal.</em>
      </p>
    </div>
  </div>
</section>