<section id="cfp" class="wrapper cfp">
  <article class="cfp--header">
    <h2 class="cfp--title">CFP</h2>
    <p class="cfp--description">
      The CFP is now closed, and we're currently reviewing applications. Stay
      tuned for speaker announcements.
    </p>
  </article>
</section>
