<section id="cfp" class="wrapper scholarship">
  <article class="cfp-description">
    <h2>CFP</h2>
    <h3>Speaking at Codeland 2018</h3>
    <p>
    Submit your proposal to give a talk or a workshop at Codeland 2018!
    <br>
    CFP closes Nov 26, 2017 at 11:59PM PST.
    </p>
  </article>
  <div class="scholarship-options">
    <article class="scholarship-application">
      <h3>Submit a Talk</h3>
      <p>
        We're looking for speakers from all backgrounds and skill levels to give
        both technical and non-technical talks. All speakers get one-on-one
        coaching, so first-time speakers are strongly encouraged to apply. Take
        a look at our talk categories listed on the application, and submit your ideas!
      </p>
      <article class="apply">
        <span class="boxed">
          <div class="button apply-button box">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfKZEZIxF8K2U9D7Y547lykPbUHoxuoSnuighri9nFbP-mACQ/viewform" target="_blank" class="box">apply</a>
          </div>
        </span>
      </article>
    </article>
    <article class="scholarship-donate">
      <h3>Submit a Workshop</h3>
      <p>
        We're looking for newbie-friendly workshops on a number of 
        technical and non-technical workshops. Workshops range from 8-20 people. 
        If you're excited about a topic and want to share it with our community,
        check out the topics in the application and submit!
      </p>
      <article class="apply">
        <span class="boxed">
          <div class="button apply-button box">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSejoKzRibArPKkdtjUI380b-9iXNPs2UyfMLD_GfQOiXVnm1Q/viewform" target="_blank" class="box">apply</a>
          </div>
        </span>
      </article>
    </article>
  </div>
</section>
