<section id="cfp" class="section-card cfp" aria-labelledby="cfpHeader">
  <div class="mask"></div>
  <div class="section-container">
    <div class="section-container--header">
      <h2 class="headline-display section-container--title" id="cfpHeader">
        Talk Info
      </h2>
      <p class="section-container--description">
        The magic of CodeLand lies in our fantastic talks from a diverse group of speakers &mdash; from the CodeNewbie Community and beyond! No two talks will be alike, but together, they’ll be inspiring and packed with practical information.
      </p>
      <p>
        <em class="normal-em">The CodeLand Call-For-Proposals closed on March 29, 2022. Our Program Committee is currently reviewing submissions and we'll be announcing selections in the coming weeks. If you submitted a talk, please monitor your email for communications from our team about the status of your proposal.</em>
      </p>
    </div>
  </div>
</section>