<section id="kids" class="wrapper childcare">
  <div class="childcare--content">
    <h2>Childcare</h2>
    <p class="childcare--description">
      We're offering complimentary, on-site childcare from 9AM - 5PM. 
      </p>
      <br>
      <p class="childcare--description">Bring your
      kids to Codeland, and we've got certified caregivers ready to take care of your
      mini CodeNewbies so you can focus on the conference. Register for
      childcare when you buy your ticket.
    </p>
  </div>
  <div class="childcare--graphic">
  </div>
</section>
