<section id="coming-soon" class="section-card coming-soon">
  <section class="section-container">
    <article class="section-container--article">
      <h1 class="section-container--title">
        Coming Soon
      </h1>
      <h3>Sponsorships</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      </p>
    </article>
  </section>
</section>
