<section id="community-partners" class="section-card community-partners">
  <div class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Community Partners
      </h1>
      <p>
        Thank you to our community partners for doing great work in the coding community! Check out some of favorite organizations.
      </p>
    </header>

    <div class="section-container--body media-grid-container">
      <% data.partners.partners.each do |partner| %>
        <figure class="media-grid-item">
          <a href="<%= partner.link %>" target="_blank">
            <%= image_tag partner.img %>
          </a>
        </figure>
      <% end %>
    </div>
  </div>
</section>
