<section id="distributed-program" class="section-card distributed-program">
    <section class="section-container">
        <header>
            <h1>Who's Speaking at CodeLand?</h1>
        </header>
        <div class="section-container speaker-overviews">
        <% data.people.speakers.each do |speaker| %>
            <div class="speaker-item">
            <div class="speaker-item--profile">
                <img src="<%= speaker.image_url %>">
            </div>
            <div class="speaker-item--bio">
                <% if speaker.talk_type == "talk" %>
                <span class="flare" style="background-color: #E3EFEB">talk</span>
                <% else %>
                <span class="flare" style="background-color: #DFD4FC">workshop</span>
                <% end %>
                <h2><%= speaker.full_name %></h2>
                <h4><%= speaker.job_title %> at <%= speaker.company %></h4>
            </div>
            </div>
        <% end %>
        </div>
    </section>
</section>