<section id="distributed-program" class="section-card distributed-program">
    <section class="section-container">
        <header>
            <h1>Who's Speaking at CodeLand?</h1>
        </header>
        <%#= partial "layouts/talks" %>
        <%= partial "layouts/workshops" %>
    </section>
</section>