<section class="wrapper">
  <div class="ticket-information">
    <div class="callout--aside">
      <h3>Ticket includes:</h3>
      <ul class="callout--list">
        <li class="callout--list--item">Breakfast, lunch, dinner</li>
        <li class="callout--list--item">1/2 day of talks</li>
        <li class="callout--list--item">1/2 day of workshops</li>
        <li class="callout--list--item">Invite to GitHub Afterparty</li>
      </ul>
      <p class="callout--small-print">
        *Limited number available until March 10.
      </p>
    </div>
    <div class="callout">
      <a href="https://ti.to/codenewbie/codeland-2019/with/ixkhcftjsa4">
        <div class="ticket-info early-bird">
          <h3 class="callout--title">Early Bird Tickets</h3>
          <h2 class="ticket-info--price early-bird--reg-price">
            reg $119
          </h2>
          <h2 class="ticket-info--price early-bird--price">
            $99
          </h2>
          <a href="https://ti.to/codenewbie/codeland-2019/with/ixkhcftjsa4"
            class="cta cta--link">
            <div class="cta--get-ticket">
              Register
            </div>
          </a>
        </div>
      </a>
    </div>
  </div>
<section>
