<section class="wrapper full-panel full-panel--lava">
  <div class="ticket-information">
    <div class="callout--aside">
      <h3>Ticket includes:</h3>
      <ul class="callout--list">
        <li class="callout--list--item">Breakfast, lunch, dinner</li>
        <li class="callout--list--item">Technical talks</li>
        <li class="callout--list--item">Choice of coding workshop* 
        </li>
        <li class="callout--list--item">Invite to GitHub Afterparty</li>
      </ul>
      <p class="callout--small-print">
        *Except for "Talk Only" tickets.
      </p>
    </div>
    <div class="callout">
      <a target="_blank" href="https://ti.to/codenewbie/codeland-2019/">
        <div class="ticket-info early-bird">
          <h3 class="callout--title">Tickets</h3>
          <p class="callout--small-print">
            from
          </p>
          <h2 class="ticket-info--price early-bird--price">
            $99
          </h2>
          <p class="callout--small-print">
            to $169
          </p>
          <a target="_blank" href="https://ti.to/codenewbie/codeland-2019/"
                  class="cta cta--link">
            <div class="cta--get-ticket">
              Register
            </div>
          </a>
        </p>
      </a>
    </div>
  </div>
</section>
