<section class="wrapper">
  <div class="ticket-information">
    <div class="callout">
      <a href="https://ti.to/codenewbie/codeland-2019/with/ixkhcftjsa4">
        <div class="ticket-info early-bird">
          <h3 class="callout--title">Early Bird Tickets</h3>
          <h2 class="ticket-info--price early-bird--reg-price">
            reg $119
          </h2>
          <h2 class="ticket-info--price early-bird--price">
            $99
          </h2>
          <p class="callout--small-print">
            limited number available until March 10.
          </p>
        </div>
      </a>
    </div>
    <div class="callout--aside">
      <h3>You get:</h3>
      <ul>
        <li>Breakfast, lunch, dinner</li>
        <li>1/2 day of talks</li>
        <li>1/2 day of workshops</li>
        <li>Invite to GitHub Afterparty</li>
      </ul>
    </div>
  </div>
<section>
