<footer class="wrapper">
  <article class="about-codenewbie">
    <h3>About CodeNewbie</h3>
    <p>CodeNewbie is the most supportive community of programmers and people
      learning to code. We produce a tech podcast, twitter chats, host events,
      and other projects to help people become incredible developers.
      </p>
    <a href="https://twitter.com/CodeNewbies" target="_blank">@CodeNewbies</a>
    <a href="http://www.codenewbie.org/" #target="_blank">www.codenewbie.org</a>
    <a href="/coc">Code of Conduct</a>
  </article>
  <article class="sponsorship">
    <h3>Sponsorship</h3>
    <p>Interested in sponsoring Codeland? Email us at hello@codenewbie.org for
      our sponsorship prospectus.</p>
  </article>
</footer>
