<footer id="footer" class="section-card footer">
  <section class="section-container">
    <header class="footer-header">
      <h1 class="footer-title--image">
        <%= image_tag "codeland-sticker-logo.png" %>
      </h1>
      <h3 class="footer-title--description">
        Produced by <a href="" target="_blank">DEV</a> and <a href="" target="_blank">CodeNewbie</a>.
      </h3>
    </header>
    <section class="section-container--body">
      <div class="footer-body--information">
        <article class="footer-body--about">
          <section class="section-container--block">
            <h3>
              Sponsorship
            </h3>
            <p>
              Email us at
            <a href="mailto:sponsorships@codenewbie.org?subject=CodeLand Sponsorships">sponsorships@codenewbie.org</a> for
              our sponsorship prospectus.
            </p>
          </section>
          <section class="section-container--block">
            <h3 class="section-container--title">
              Produced by
            </h3>
            <article class="section-container--block">
              <figure class="image-title landscape">
                <img src="https://s3.amazonaws.com/codenewbie-assets/codenewbie+logo.png" alt="About CodeNewbie">
              </figure>
              <p>
                <a href="https://www.codenewbie.org/" target="_blank">CodeNewbie</a>
                is the most supportive community of programmers and people learning
                to code. We produce content to support people on their coding
                journey.
              </p>
            </article>
            <article class="section-container--block">
              <figure class="image-title square">
                <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-black.png" alt="About CodeNewbie">
              </figure>
              <p>
                <a href="https://www.dev.to/" target="_blank">DEV</a> is a
                community of software developers getting together to help one
                another out. The software industry relies on collaboration and
                networked learning. We provide a place for that to happen.
              </p>
            </article>
          </section>
        </article>

        <article class="footer-body--contact">
          <h3>
            Contact
          </h3>
          <ul>
            <li>
              Twitter: <a href="https://twitter.com/CodeNewbies"
              target="_blank">@CodeLandConf</a>
            </li>
            <li>
              Email: <a href="mailto:codeland@codenewbie.org"
              target="_blank">codeland@codenewbie.org</a>
            </li>
          </ul>
        </article>
      </div>
    </section>
  </section>
</footer>
