<footer class="wrapper">
  <article class="about-codenewbie">
    <h3>About CodeNewbie</h3>
    <p>CodeNewbie is the most supportive community of programmers and people
      learning to code. This is our very first conference and we're so excited
      to see you in April!</p>
    <a href="https://twitter.com/CodeNewbies" target="_blank">@CodeNewbies</a>
    <a href="http://www.codenewbie.org/" #target="_blank">www.codenewbie.org</a>
    <a href="/coc">Code of Conduct</a>
  </article>
  <article class="sponsorship">
    <h3>Sponsorship</h3>
    <p>Interested in sponsoring Codeland? Email us at hello@codenewbie.org for
      our sponsorship prospectus.</p>
  </article>
</footer>
