<footer class="wrapper">
  <article class="about-codenewbie">
    <h3 class="footer--header">About CodeNewbie</h3>
    <p class="footer--content">CodeNewbie is the most supportive community of programmers and people
      learning to code. We produce a tech podcast, twitter chats, host events,
      and other projects to help people become incredible developers.
    </p>
  </article>
  <article class="sponsorship">
    <h3 class="footer--header">Sponsorship</h3>
    <p class="footer--content">Interested in sponsoring Codeland? Email us at hello@codenewbie.org for
      our sponsorship prospectus.</p>
  </article>
</footer>
<footer class="wrapper">
  <div class="footer--links">
    <a class="footer--link" href="https://twitter.com/CodeNewbies" target="_blank">@CodeNewbies</a>
    <a class="footer--link" href="http://www.codenewbie.org/" #target="_blank">www.codenewbie.org</a>
    <a class="footer--link" href="/coc">Code of Conduct</a>
  </div>
</footer>
