<header>
  <span class="logo highlight">
    <%= image_tag "2018-codeland-logo.png" %>
  </span>
  <p class="subheader">
     produced by CodeNewbie, powered by GitHub
  </p>
  <p class="subheader">
    May 4 & 5, 2018 • NYC
  </p>
  <a href="/#tickets" class="button get-tickets">
    <p>
      Get Tickets
    </p>
  </a>
</header>
