<header>
  <span class="logo highlight">
    <%= image_tag "2018-codeland-logo.png" %>
  </span>
  <p class="subheader">
     produced by <span class="codenewbie">CodeNewbie,</span> powered by <img
     src="https://s3.amazonaws.com/codenewbie-assets/codeland/GitHub_Logo.png"
     alt-text="GitHub" class="github-header">
  </p>
  <p class="subheader">
    May 4 & 5, 2018 • NYC
  </p>
</header>
