<header>
  <div class="header-grid">
    <div class="left">
      <h1 class="conference-logo">Codeland</h1>
      <h2 class="conference-header date-location">
        <span class="conference-header--item">July 22, 2019</span>
        <span class="conference-header--item">NYC</span>
      </h2>
    </div>
    <div class="right">
      <h2 class="conference-subheader codenewbie-header">
        <span class="conference-subheader--item">
          produced by <img
          src="https://s3.amazonaws.com/codenewbie-assets/codenewbie+logo.png">
        </span>
      </h2>
      <h2 class="conference-subheader github-header">
        <span class="conference-subheader--item">
          powered by
          <img
          src="https://s3.amazonaws.com/codenewbie-assets/codeland/GitHub_Logo.png">
        </span>
      </h2>
    </div>
  </div>
  <div class="callout">
    <a target="_blank" href="https://ti.to/codenewbie/codeland-2019/with/">
      <div class="ticket-info early-bird">
        <h3 class="callout--title">Tickets</h3>
        <h2 class="ticket-info--price early-bird--reg-price">
          starting at
        </h2>
        <h2 class="ticket-info--price early-bird--price">
          $99
        </h2>
        <p class="callout--small-print">
          Limited quantity. Sale ends March 10.
    <a target="_blank" href="https://ti.to/codenewbie/codeland-2019/"
            class="cta cta--link">
            <div class="cta--get-ticket">
              Register
            </div>
          </a>
       </p>
      </div>
    </a>
  </div>
</header>

