<header>
  <p class="date-location"><span class="highlight">May 4 & 5, 2018 • NYC</span></p>
  <span class="logo highlight">
    <%= image_tag "2018-codeland-logo.png" %>
  </span>
  <p class="conference-header"><span>
  a CodeNewbie conference
  </span></p>
  <h2 class="conference-description"><span class="highlight">
  inspiring talks, actionable workshops, and inclusive community
        </span></h2>
  <%# <span class="boxed"> %>
  <%#   <div class="button get-tickets box"> %>
  <%#     <a href="https://ti.to/codenewbie/codeland" target="_blank" rel="noopener" class="box">get tickets</a> %>
  <%#   </div> %>
  <%# </span> %>
</header>
