<section class="hero-section" aria-label="Introduction to CodeLand 2021">
  <div class="hero-section--container">
    <h1 class="hero-section--image" id="heroHeader">
      <%= image_tag "codeland-2021-logo.png", :alt=>"CodeLand 2021" %>
    </h1>
    <p class="hero-section--description">
      The most welcoming conference for early-career coders and their champions. Produced by <a href="https://www.codenewbie.org/" target="_blank">CodeNewbie</a> and <a href="https://dev.to">DEV</a>, two software communities built on <a href="https://www.forem.com/">Forem.</a>
    </p>
    <p class="hero-section--subtitle">
      Taking place virtually from <br>September 23-24, 2021.
    </p>
    <%= partial "layouts/stickers" %>
  </div>
</section>
