<section class="hero-section">
  <div class="hero-section--container">

    <h1 class="hero-section--image">
      <%= image_tag "codeland-sticker-logo.png" %>
    </h1>

    <h2 class="hero-section--subtitle">
      July 28 - 29, 2020 • New York City
    </h2>

    <h3 class="hero-section--description">
      The only conference designed for new and growing developers. Produced by <a href="" target="_blank">DEV</a> and <a href="" target="_blank">CodeNewbie</a>.
    </h3>

    <div class="hero-section--cta">
      <button class="hero-section--button" href="" target="_blank">
        Get Tickets
      </button>
      <span class="hero-section--subline">
        Early-bird pricing available until <strong>Jan. 30</strong>
      </span>
    </div>
  </div>
</section>
