<section class="hero-section">
  <div class="hero-section--container">

    <h1 class="hero-section--image">
      <%= image_tag "codeland-distributed.png" %>
    </h1>

    <h2 class="hero-section--subtitle">
      Happening Now!
      <br/>
      Thursday July 23: 2:00PM UTC - 2:00AM UTC
      <br><br>
    </h2>

    <h3 class="hero-section--description">
      The community-first conference designed to level you up. Produced by <a href="https://dev.to" target="_blank">DEV</a> and <a href="https://www.codenewbie.org/" target="_blank">CodeNewbie</a>.
    </h3>
    <div class="hero-section--cta">
      <%= partial "layouts/hero_tickets" %>
    </div>
    <%= partial "layouts/stickers" %>
  </div>
</section>
