<section class="hero-section">
  <div class="hero-section--container">

    <h1 class="hero-section--image">
      <%= image_tag "codeland-sticker-logo.png" %>
    </h1>

    <h2 class="hero-section--subtitle">
      July 28 - 29, 2020 • New York City
    </h2>

    <h3 class="hero-section--description">
      The community-first conference designed to level you up. Produced by <a href="" target="_blank">DEV</a> and <a href="" target="_blank">CodeNewbie</a>.
    </h3>

    <div class="hero-section--cta">
      <%= partial "layouts/mailchimp_signup" %>
    </div>
    <%= partial "layouts/stickers" %>
  </div>
</section>
