<section id="venue-hotels">
  <div class="wrapper">
    <div class="venue">
      <h2>Venue</h2>
      <p>
        NYU Skirball 
      </p>
      <p>
        566 LaGuardia Place
      </p>
      <p>
        New York, NY 10012
      </p>
    </div>
    <div class="hotel">
      <h2>Hotels</h2>
      <ul>
        <li>
          <a target="_blank" href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1555962826903&key=GRP&app=resvlink">
            Sheraton Hotel
          </a>
        </li>
        <li>
          <a target="_blank" href="https://www.citizenm.com/codeland">
            CitizenM
          </a>
        </li>
        <li>
          <a target="_blank" href="https://book.b4checkin.com/chameleon/washingtonsquarehotel/rlp/codelandconference2019">
            Washington Square Hotel
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
