<section id="venue-hotels">
  <div class="wrapper">
    <div class="venue">
      <h2>Venue</h2>
      <p>
        NYU Skirball 
      </p>
      <p>
        566 LaGuardia Place
      </p>
      <p>
        New York, NY 10012
      </p>
    </div>
    <div class="hotel">
      <h2>Hotels</h2>
      <ul>
        <li>
          <a href="#">
            Sheraton Hotel
          </a>
        </li>
        <li>
          <a href="#">
            Sheraton Hotel
          </a>
        </li>
        <li>
          <a href="#">
            Sheraton Hotel
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
