<section class="wrapper grid love">
  <div class="grid-sizer"></div>
  <div class="grid-item">
    <h2>Love for #Codeland</h2>
  </div>
  <div class="grid-item grid-tweet">
    <blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">I love this conference. First conference that I have felt comfortable and among so many talented attendees and speakers. <a href="https://twitter.com/hashtag/Codeland?src=hash&amp;ref_src=twsrc%5Etfw">#Codeland</a></p>&mdash; Carol Willing (@WillingCarol) <a href="https://twitter.com/WillingCarol/status/855562465052110850?ref_src=twsrc%5Etfw">April 21, 2017</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <div class="grid-item callout">
    <h5 class="love-header">Not Your Average Conference</h5>
    <p>From dance breaks to delicious food, we want every minute you spend with us to
    be magical.</p>
  </div>
  <div class="grid-item">
    <blockquote class="blockquote">
      <p class="blockquote-body">
      My Codeland experience was inspirational and overwhelming. I feel recharged. I feel re-energized. I’m more excited than ever to be a
developer. And I can’t imagine a better conference to give your first talk.
      </p>
      <h6 class="blockquote-byline">
        <span class="blockquote-byline">
        Stephanie Nemeth</span>, 
        <span class="blockquote-byline-title">speaker</span>
      </h6>
    </blockquote>
  </div>
  <div class="grid-item grid-tweet">
    <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Here at <a href="https://twitter.com/CodeNewbies?ref_src=twsrc%5Etfw">@CodeNewbies</a> <a href="https://twitter.com/hashtag/Codeland?src=hash&amp;ref_src=twsrc%5Etfw">#Codeland</a> conference and the energy is ELECTRIC. THIS is the new kind of conference. Welcoming, supportive, empowering. <a href="https://t.co/pn3oyPwhYx">pic.twitter.com/pn3oyPwhYx</a></p>&mdash; Scott Hanselman (@shanselman) <a href="https://twitter.com/shanselman/status/855404687289462784?ref_src=twsrc%5Etfw">April 21, 2017</a></blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

  <div class="grid-item callout">
    <h5 class="love-header">High Quality Content</h5>
    <p>
    Each speaker received 4+ hours of personal coach- ing. We worked together to craft each talk, combining technical insights with powerful storytelling to create the best tech talks you’ve ever seen.
    </p>
  </div>
  <div class="grid-item">
    <blockquote class="blockquote">
      <p class="blockquote-body">
      I’ve gone to dozens of tech conferences, and present- ed at several, and
      I’ve never experienced this level of individual coaching from anyone
      involved—let alone the event organizer herself.
      </p>
      <h6 class="blockquote-byline">
        <span class="blockquote-byline">
        Quincy Larson</span>, 
        <span class="blockquote-byline-title">speaker</span>
      </h6>
    </blockquote>
  </div>
  <div class="grid-item">
    <blockquote class="blockquote">
      <p class="blockquote-body">
      Everyone was welcoming, encouraging, and genuinely interested in what you had to say. There was Bolly- wood dancing. People literally clapped when you left both days.
      </p>
      <br><p class="blockquote-body">
      I hope other conferences pay attention. Tech is already diverse, let’s just make it inclusive.
      </p>
      <h6 class="blockquote-byline">
        <span class="blockquote-byline">
        Bhaumik Patel</span>, 
        <span class="blockquote-byline-title">sponsor</span>
      </h6>
    </blockquote>
  </div>
</section>
