  <div class="wrapper mailchimp-signup">
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css"
      rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
        <form
          action="//codenewbie.us8.list-manage.com/subscribe/post?u=0a92a565e5b5037722c845fdb&amp;id=50e17819e3"
          method="post" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <label for="mce-EMAIL">
            Sign up for conference updates and announcements.
          </label>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL"
            class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and -->
  <!--           expect good things - do not remove this or risk -->
  <!--           form bot signups-->
            <div style="position: absolute; left:
              -5000px;" aria-hidden="true">
              <input type="text"
              name="b_0a92a565e5b5037722c845fdb_50e17819e3"
              tabindex="-1" value=""></div>
            <div class="clear"><input type="submit"
              value="Subscribe" name="subscribe"
              id="mc-embedded-subscribe"
              class="button"></div>
          </div>
        </form>
      </div>
    </div>
