<nav class="site-nav">
  <div class="nav-link--container">
    <div class="nav-mobile-menu--actions">
      <a href="#" class="nav-link--logo">CodeLand</a>
      <a href="#" class="nav-link--menu--open">Menu</a>
    </div>
    <ul class="nav-link--menu">
      <li class="nav-link--item">
        <a href="/">Home</a>
      </li>
      <li class="nav-link--item">
        <a href="/#attend">Attend</a>
      </li>
      <li class="nav-link--item">
        <a href="/#cfp">Submit a talk</a>
      </li>
      <li class="nav-link--item">
        <a href="/#sponsors">Sponsors</a>
      </li>
      <li class="nav-link--item">
        <a href="https://dev.to/codeland" target="_blank" rel="noopener noreferrer">CodeLand 2020</a>
      </li>
      <li class="nav-link--item">
        <a href="/faq">FAQs</a>
      </li>
      <li class="nav-link--item">
        <a href="/coc">Code of Conduct</a>
      </li>
    </ul>
  </div>
</nav>