<nav class="site-nav">
  <div class="nav-link--container">
    <div class="nav-mobile-menu--actions">
      <a href="#" class="nav-link--logo">CodeLand</a>
      <a href="#" class="nav-link--menu--open">Menu</a>
    </div>
    <ul class="nav-link--menu">
      <li class="nav-link--item">
        <a href="/">Home</a>
      </li>
      <li class="nav-link--item nav-link--item-highlighted">
        <a href="#attend">Attend</a>
      </li>
      <li class="nav-link--item">
        <a href="#program">Program</a>
      </li>
      <li class="nav-link--item">
        <a href="#sponsors">Sponsors</a>
      </li>
      <li class="nav-link--item">
        <a href="https://community.codenewbie.org/codeland" target="_blank" rel="noopener noreferrer">CodeLand 2021</a>
      </li>
      <li class="nav-link--item">
        <a href="/accessibility">Accessibility</a>
      </li>
      <li class="nav-link--item">
        <a href="/faq">FAQs</a>
      </li>
      <li class="nav-link--item">
        <a href="/coc">Code of Conduct</a>
      </li>
    </ul>
  </div>
</nav>