<nav class="site-nav">
  <div class="nav-link--container">
    <ul class="nav-link--section">
      <li class="nav-link--item">
        <a href="/">Home</a>
      </li>
      <li class="nav-link--item">
        <a href="/#overview">Overview</a>
      </li>
      <li class="nav-link--item">
        <a href="/#speakers">Apply to Speak</a>
      </li>
      <li class="nav-link--item">
        <a href="/#tickets">Tickets</a>
      </li>
      <li class="nav-link--item">
        <a href="/#coming-soon">Coming Soon</a>
      </li>
      <li class="nav-link--item">
        <a href="/#more-info">More Info</a>
      </li>
    </ul>
  </div>
</nav>
