<nav class="wrapper main-nav">
  <div class="main-nav">
    <ul class="mobile-home">
      <li>Menu</li>
    </ul>
    <ul class="mobile-nav">
      <a href="/"><li>Home</li></a>
      <%# <a href="/#tickets"><li>Tickets</li></a> %>
      <a href="/#scholarship"><li>Scholarship</li></a>
      <a href="/#speakers"><li>Speakers</li></a>
      <a href="/#program"><li>Program</li></a>
      <a href="/#schedule"><li>Schedule</li></a>
      <a href="/#love"><li>Love</li></a>
      <a href="/#sponsors"><li>Sponsors</li></a>
      <a href="/#venue"><li>Venue & Hotel</li></a>
      <a href="/coc"><li>Code of Conduct</li></a>
    </ul>
  </div>
</nav>
