<nav class="site-nav">
  <div class="nav-link--container">
    <div class="nav-mobile-menu--actions">
      <a href="#" class="nav-link--logo">CodeLand</a>
      <a href="#" class="nav-link--menu--open">Menu</a>
    </div>
    <ul class="nav-link--menu">
      <li class="nav-link--item">
        <a href="/">Home</a>
      </li>
      <li class="nav-link--item">
        <a href="/#tickets">Register</a>
      </li>
      <li class="nav-link--item">
        <a href="/#distributed-program">Speakers</a>
      </li>
      <li class="nav-link--item">
        <a href="/#sponsors">Sponsors</a>
      </li>
      <li class="nav-link--item">
        <a href="/faq">FAQs</a>
      </li>
      <li class="nav-link--item">
        <a href="/coc">Code of Conduct</a>
      </li>
    </ul>
  </div>
</nav>
