<section id="overview" class="section-card overview">
  <section class="section-container overview">
    <header class="overview--header">
      <h1 class="overview--title">
        <strong>CodeLand</strong> is the community-first conference designed to
        level you up.
      </h1>
      <h2 class="overview--subtitle">
        Inspiring talks and hands-on workshops from some of our industry's
        greatest teachers.
      </h2>
    </header>
    <div class="overview--video">
      <video autoplay loop muted muted playsinline>
        <source src="https://d2fltix0v2e0sb.cloudfront.net/codeland-nosound-clip.mp4" type="video/mp4">
      </video>
    </div>
    <div class="overview--details">
      <ul>
        <li class="overview-detail--item">
          <h3 class="overview-detail--title">
            Where & When
          </h3>

          <ul class="overview-detail--sub-list">
            <li>
              <p class="overview-detail--subtitle">
                July 23 • NYU Skirball
                </br>
                July 24 • Offices across NYC
              </p>
            </li>
          </ul>
        </li>
        <li class="overview-detail--item">
          <h3 class="overview-detail--title">
            What
          </h3>
          <p>
            Technical talks, workshops, and an evening afterparty.
          </p>
        </li>
        <li class="overview-detail--item">
          <h3 class="overview-detail--title">
            Who
          </h3>
          <p>
            Whether you’re considering a coding bootcamp or celebrating your
            tenth year as a developer, this conference is for you. Come for the
            code and stay for the community.
          </p>
        </li>
      </ul>
    </div>
  </section>
</section>
