<section class="wrapper overview">
<article class="left-panel">
  <h4 class="section-header">Overview</h4>
  <p class="section-paragraph">
  Codeland is an interactive, two-day conference filled with talks, panels, and
  workshops with the most supportive community of programmers and people
  learning to code.
  </p>
  <blockquote class="blockquote">
    <p class="blockquote-body">
      I can’t help but feel that I was a part of something really special. I believe Codeland is the first in a movement to change what a tech conference is and can be.
    </p>
    <h6 class="blockquote-byline">
      <span class="blockquote-byline-name">
      Stephanie Nemeth</span>, 
      <span class="blockquote-byline-title">speaker</span>
    </h6>
  </blockquote>
</article>
<article class="right-panel sidebar">
  <h4 class="section-header">Key Info</h4>
  <div class="sidebar-content">
    <h5>Where</h5>
    <p class="location">
      <span class="location-name">Microsoft</span>
      <span class="location-street">11 Times Square</span>
      <span class="location-city-state">New York, NY 10036</span>
    </p>
    <h5>When</h5>
    <p class="date">
      <span class="date-days">May 4 & 5, 2018</span>
      <span class="date-hours">8:30AM-6PM</span>
    </p>
    <h5>Attendees</h5>
    <p>300</p>
  </div>
</article>

</section>
