<section id="overview" class="section-card overview" aria-label="CodeLand 2022 Overview">
  <div class="section-container overview">
    <header class="overview--header">
      <h2 class="overview--title headline-display">
        <strong>CodeLand</strong> is the community-first conference designed to level up programmers and people learning to code – from home!
      </h2>
      <p class="overview--subtitle text-h2">
        Motivating talks, rewarding activities, and connection with other coding-obsessed people like you.
      </p>
    </header>
    <div class="overview--image">
      <img
        src="<%= imgixUrl("screenshots/screenshot-4.png", {w: "200"}) %>"
        width="2864"
        height="1606"
        alt="A screenshot of a virtual panel from CodeLand 2022"
        sizes=" (min-width: 1024px) calc((76vw - 2em) * 0.45),  calc((90vw - 2em) * .9)"
        srcset="
        <% for i in 1..8 do %>
          <%= imgixUrl("screenshots/screenshot-4.png", {w: 302 * i}) %> <%= 302 * i %>w<%= "," if i != 8 %>
        <% end %>
        "
      >
    </div>
    <div class="overview--details">

          <h3 class="overview-detail--title text-h2">
            Why attend?
          </h3>

          <p class="text-h4">
            Whether you’re researching coding bootcamps or celebrating your tenth year as a software developer, CodeLand is for you.
          </p>
          <p class="text-h4">
            Together, we’ll discuss big ideas in tech, empower lifelong learning, and energize one another to keep coding as whole people.
          </p>

          <p class="text-h4 overview-detail--footer">
            Come for the code, stay for the community.
          </p>

    </div>
  </div>
</section>