<section id="overview" class="section-card overview">
  <section class="section-container overview">
    <header class="overview--header">
      <h1 class="overview--title">
        <strong>CodeLand</strong> is the community-first conference designed to
        level you up.
      </h1>
      <h2 class="overview--subtitle">
        Inspiring talks and hands-on workshops from some of our industry's
        greatest teachers.
      </h2>
    </header>
    <div class="overview--details">
      <ul>
        <li class="overview-detail--item">
          <h3 class="overview-detail--title">
            Where & When
          </h3>

          <ul class="overview-detail--sub-list">
            <li>
              <p class="overview-detail--subtitle">
                Thu, July 23, 2020 • 8AM - 7PM • NYU Skirball
              </p>
              <p>
                566 LaGuardia Place, New York, NY 10012
              </p>
            </li>
            <li>
              <p class="overview-detail--subtitle">
                Fri, July 24, 2020, 8am • Various NYC offices
              </p>
              <p>
                Review your program guide for more information
              </p>
            </li>
          </ul>
        </li>
        <li class="overview-detail--item">
          <h3 class="overview-detail--title">
            What
          </h3>
          <p>
            Technical talks, workshops, and an evening afterparty.
          </p>
        </li>
        <li class="overview-detail--item">
          <h3 class="overview-detail--title">
            Who
          </h3>
          <p>
            Whether you’re considering a coding bootcamp or celebrating your
            tenth years as a developer, this conference is for you. Come for the
            code and stay for the community.
          </p>
        </li>
      </ul>
    </div>
  </section>
</section>
