<section id="program-extras" class="wrapper schedule">
  <article class="program-extras-description">
    <h2>New at Codeland</h2>
    <p>We're trying something new! Check out the two special additions to this
    year's Codeland.</p>
  </article>
  <div class="program-extras">
    <article class="program-extra program-extra__exhibit-hall">
      <h3>Exhibit Hall</h3>
      <p>Join us for light snacks, music, and community time! Connect with
      speakers, stop by exhibitor tables, and make new friends during our first
      Exhibit Hall. Happening Saturday afternoon before closing remarks. No
      signup needed.</p>
    </article>
    <article class="program-extra program-extra__career-station">
      <h3>Career Station</h3>
      <p>Sign up for a 15-minute time slot to talk to one of our career mentors!
      Bring your resume, portfolio, and any questions about building a career in
      tech. Sign up at the registration table at Codeland. Limited spots
      available.</p>
    </article>
  </div>
</section>
