<section class="wrapper">
  <article class="conference-pitch">
    <h3>The only tech conference designed for new coders.</h3>
    <p>We've created a unique conference experience designed for new coders
      and people learning to code. Come out for great food, a supportive
      community, and inspiring content.</p>
  </article>
  <article class="program day-1">
    <h4><span class="capitalize">Day One</span> What can code do?</h4>
    <h3>Inspiring Talks</h3>
    <p>Discover how code is used to solve problems in the following fields
      from developers working in the industry.</p>
    <div class="topics">
      <h5 class="boxed"><span class="box">health</span><span class="box-shadow
          health"></span></h5>
      <h5 class="boxed"><span class="box">education</span><span
          class="box-shadow education"></span></h5>
      <h5 class="boxed"><span class="box">city life</span><span
          class="box-shadow city-life"></span></h5>
      <h5 class="boxed"><span class="box">community</span><span
          class="box-shadow community"></span></h5>
      <h5 class="boxed"><span class="box">art & gaming</span><span
          class="box-shadow art-gaming"></span></h5>
    </div>
  </article>
  <article class="program day-2">
    <h4><span class="capitalize">Day Two</span> What can you do with code?</h4>
    <h3>Practical Planning</h3>
    <p>Explore the practical side of coding and being a developer. Topics
      include using side projects to build up your portfolio, contributing
      to open source, and crafting your personal learning strategy.</p>
    <h3>Hands-on Workshops</h3>
    <p>Pick from a selection of optional three-hour workshops on technical
      and non-technical coding topics, or join the open community coding
      session to socialize, code, and connect.
    </p>
  </article>
</section>
