<section class="wrapper">
  <div class="program-overview">
    <h3 class="conference-pitch">The only conference designed for new and growing developers.</h3>
    <p class="conference-pitch--details">
      Inspiring talks and hands-on workshops from people on their coding journey.
    </p>
  </div>
</section>
<section class="photo-panel">
  <div class="program-overview--grid">
    <div class="program-overview--image group-photo">
    <video controls width="250" preload="auto"
    poster="https://s3.amazonaws.com/codenewbie-assets/codeland/reel_cover_2.jpeg">
      <source src="https://s3.amazonaws.com/codenewbie-assets/codeland/reel-small.mp4"
              type="video/mp4">
  </video>
    </div>
    <div class="program-overview--body">
      <div class="program">
        <div class="talking-points--item">
          <h3 class="talking-points--title">When</h3>
          <p class="talking-points--body">
            Monday, July 22 • 8AM - 7PM
          </p>
        </div>
        <div class="talking-points--item">
          <h3 class="talking-points--title">What</h3>
          <p class="talking-points--body">
            Technical talks,
            workshops, and an evening afterparty sponsored by GitHub.
          </p>
        </div>
        <div class="talking-points--item">
          <h3 class="talking-points--title">Who</h3>
          <p class="talking-points--body">
            Whether you're a year into your first dev job or you're finally considering a
            coding bootcamp, come for the inspiring content and stay for the
            incredible community.
          </p>
        </div>
        <div class="talking-points--item">
          <h3 class="talking-points--title">Where</h3>
          <p class="talking-points--body">
            NYU Skirball • 566 LaGuardia Place, New York, NY 10012
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
