<section class="wrapper">
  <div class="program-overview">
    <h3 class="conference-pitch">The only conference designed for new and growing developers.</h3>
    <p class="conference-pitch--details">
      Inspiring talks and hands on workshops from people on their coding journey.
    </p>
  </div>
  <div class="conference-pitch--callouts">
   <div class="conference-pitch--callouts--item">
    <h3>What</h3>
    <ul>
      <li>1/2 day of talks</li>
      <li>1/2 day of workshops</li>
      <li>evening afterparty</li>
    </ul>

   </div>
   <div class="conference-pitch--callouts--item">
    <h3>Who</h3>
    <p>
      If you're a year into your first job, or you're finally considering a
      coding bootcamp, this is for you.
    </p>
   </div>
   <div class="conference-pitch--callouts--item">
     <h3>When</h3>
     <p>
      July 22, 8AM - 8PM in NYC.
     </p>
    </div>
  </div>
</section>
<section class="photo-panel">
  <div class="program-overview--grid">
    <div class="program-overview--image group-photo">
      <img src="http://codelandconf.com/images/group-photo.jpg">
    </div>
    <div class="program-overview--body">
      <div class="program">
        <div class="talking-points--item">
          <h3 class="talking-points--title">When</h3>
          <p class="talking-points--body">
            Monday, July 22 • 8AM - 8PM
          </p>
        </div>
        <div class="talking-points--item">
          <h3 class="talking-points--title">What</h3>
          <p class="talking-points--body">
            1/2 day of talks, 1/2 day of
            workshops, and an evening afterparty sponsored by GitHub.
          </p>
        </div>
        <div class="talking-points--item">
          <h3 class="talking-points--title">Who</h3>
          <p class="talking-points--body">
            Whether you're a year into your first dev job or you're finally considering a
            coding bootcamp, come for the inspiring content and stay for the
            incredible community.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
