<section id="full-program" class="wrapper full-program">
  <article class="program-description">
    <h2>Program</h2>
    <p>Join us for some of the most dynamic and engaging tech talks you'll ever
    hear.</p>
  </article>
  <div class="program-list">
    <% data.people.speakers.each do |speaker| %>
    <% next if speaker.talk_title.nil? %>
    <article class="program-item">
      <img
      src="<%= speaker.image_url %>">
      <div class="program-item-summary">
        <p class="program-item-author"><%= speaker.full_name %></p>
        <h3 class="program-item-title"><%= speaker.talk_title %></h3>
        <p class="program-item-abstract"><%= speaker.talk_abstract %></p>
      </div>
    </article>
    <% end %>
  </div>
</section>
