<section id="full-program" class="wrapper full-program">
  <article class="program-description">
    <h2>Program</h2>
    <p>Join us for some of the most dynamic and engaging tech talks you'll ever
    hear.</p>
  </article>
  <div class="program-list">
    <article class="program-item">
      <img
      src="https://s3.amazonaws.com/codenewbie-assets/codeland/Speaker+images/brian-douglas.jpg">
      <div class="program-item-summary">
        <p class="program-item-author">Brian Douglas</p>
        <h3 class="program-item-title">Good Fences Make Good Communities: Security and Maintaining User Trust</h4>
        <p class="program-item-abstract">
        Web developers build online communities through their products, and they
        have a responsibility to protect those communities. Failures in security
        not only hurt your users, they erode trust in your product and the
        community around it. You can't build a strong community without strong
        security. This talk will walk through common security vulnerabilities and
        ways to protect against them. 
        </p>
      </div>
    </article>
  </div>
</section>
