<section id="recap" class="wrapper">
  <article class="recap-description">
    <h2>Recap</h2>
    <p>
      Codeland 2018 might be over, but you can still relive the good old
      conference days! Here are some highlights.
    </p>
  </article>
  <div class="recap-items">
    <article class="recap-item">
      <div class="recap-item-content">
        <h3 class="recap-item-title">Photos</h3>
        <p>Check out these amazing photos of the conference by McBilly Sy.</p>
      </div>
      <div class="recap-item-cta">
        <a
        href="https://www.mcbilly.com/gallery/codeland-2018-day-1/"
        target="_blank" class="button recap-link">
        Friday</a><a
        href="https://www.mcbilly.com/gallery/codeland-2018-day-2/"
        target="_blank" class="button recap-link">Saturday</a>
      </div>
    </article>
    <article class="recap-item">
      <div class="recap-item-content">
        <h3 class="recap-item-title">Codeland Booklet</h3>
        <p>
        You can download our famous Codeland booklet, full of terms, resources, and
        info from the talks and workshops.
        </p>
      </div>
      <div class="recap-item-cta">
        <a
        href="https://s3.amazonaws.com/codenewbie-assets/codeland/Codeland+2018+Booklet+-+FINAL.pdf"
        target="_blank" class="button recap-link">Download PDF</a>
      </div>
    </article>
    <article class="recap-item">
      <div class="recap-item-content">
        <h3 class="recap-item-title">Tweet</h3>
        <p>
          Check out the social media chatter on our Wakelet page.
        </p>
      </div>
      <div class="recap-item-cta">
        <a
          href="https://wakelet.com/wake/b06850b9-fb7d-4b4a-8795-576642d6912d"
          target="_blank" class="button recap-link">
          Tweets</a>
      </div>
    </article>
  </div>
</section>
