<section id="reel" class="wrapper reel">
  <article>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0ra7sgxjYf8" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </article>
      <img src="https://s3.amazonaws.com/codenewbie-assets/codeland/codeland2017-group-photo.jpg">
</section>
