<section class="wrapper scholarship">
  <article class="scholarship-description">
    <h3>Opportunity Scholarship</h3>
    <p>To make this conference accessible to more people, we're offering scholarships to attend Codeland. Scholars receive a heavily discounted conference ticket at $25, as well as the potential to cover travel depending on need and available funds.</p>
  </article>
  <article class="scholarship-application">
    <h4>Scholarship Application</h4>
    <p>Apply for a scholarship by Dec 25 and hear back by Jan 2. If you are part of an underrepresented group in tech, including women, members of underrepresented demographic groups*, and members of the LGBTQ community, we highly encourage you to apply.</p>
  <article class="apply">
    <span class="boxed">
      <button class="apply-button box">
        <a href="https://ti.to/codenewbie/codeland" target="_blank" class="box">apply</a>
      </button>
    </span>
  </article>
  </article>
  <article class="scholarship-donate">
    <h4>Donate to Fund</h4>
    <p>Donate to our Opportunity Scholarship to help more people get to Codeland. We'll give you a shoutout on the website and a thank you on Twitter.</p>
  <article class="donate">
    <span class="boxed">
      <button class="donate-button box">
        <a href="https://ti.to/codenewbie/codeland" target="_blank" class="box">donate</a>
      </button>
    </span>
  </article>
  </article>
</section>
