<section class="wrapper scholarship" id="scholarship">
  <article class="scholarship-description">
    <h2>Opportunity Scholarship</h2>
    <p class="scholarship-description">
      Our Opportunity Scholarship is now closed. Congrats to all the selected
      scholars, and a huge thank you to our sponsors for helping us bring them to
      Codeland!
    </p>
  </article>
</section>
