<section class="wrapper scholarship" id="scholarship">
  <article class="scholarship-description">
    <h2>Pay It Forward</h2>
    <p class="scholarship-description">
      Help us make this conference more accessible. Buy a "Pay-it-forward"
      ticket to help someone get to Codeland who couldn't otherwise afford to
      come.
    </p>
  </article>
    <div class="pay-it-forward-callout">
  <a href="https://ti.to/codenewbie/codeland-2019/with/f2lybwi0khk"
  target="_blank" class="pay-it-forward_link">
      <p class="pay-it-forward-callout--header">
        Pay-it-forward ticket
      </p>
      <p class="pay-it-forward-callout--body">
        $169
      </p>
      <div class="button pay-it-forward--button button--small button__donate">
            purchase
      </div>
  </a>
    </div>
</section>
