<section class="wrapper scholarship">
  <article class="scholarship-description">
    <h2>Opportunity Scholarship</h2>
    <p>To make this conference accessible to more people, we're offering scholarships to attend Codeland. Scholars receive a heavily discounted conference ticket at $25, as well as the potential to cover travel, depending on need and available funds.</p>
  </article>
  <div class="scholarship-options">
    <article class="scholarship-application">
      <h3>Scholarship Application</h3>
      <p>Apply for a scholarship by March 17. If you are part of an underrepresented group in tech, including women, members of underrepresented demographic groups*, and members of the LGBTQ community, we highly encourage you to apply.</p>
      <article class="apply">
        <span class="boxed">
          <div class="button apply-button box">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfEP6QKkQ9p4zXpR96Ntrr8M9SSBZ4xaej3RKxpGHj2LV_F0g/viewform" target="_blank" class="box">apply</a>
          </div>
        </span>
      </article>
    </article>
    <article class="scholarship-donate">
      <h3>Donate to Fund</h3>
      <p>Donate to our Opportunity Scholarship to help more people get to Codeland. Your funds go directly towards covering ticket prices and travel for our Scholars. As a thank you for your generosity, we'll give you a shoutout on the website and a thank you on Twitter.</p>
      <article class="donate">
        <span class="boxed">
          <div class="button donate-button box">
            <a href="https://ti.to/codenewbie/codeland/with/hx1o-7iwaxu" target="_blank" class="box">donate</a>
          </div>
        </span>
      </article>
    </article>
  </div>
</section>
