<section class="wrapper scholarship" id="scholarship">
  <article class="scholarship-description">
    <h2>Open Source Scholarship</h2>
    <h3 class="scholarship-presenter"><span
    class="scholarship-presented-by">presented by </span><a
    href="http://technology.condenast.com/" class="scholarship-sponsor" target="_blank"><img
    src="https://s3.amazonaws.com/codenewbie-assets/codeland/conde_nast_technology.jpg"></a>
    </h3>
    <p class="scholarship-description">
      Condé Nast Technology is offering scholarships to bring two people to Codeland who are passionate about open source. Whether you're a seasoned open source contributor or you're just getting started, if you care about open source, make sure to apply!
    </p>
    <p class="scholarship-description">
      This scholarship provides a complimentary ticket to Codeland.
      Apply by April 25, 2018. 
    </p>
    <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSeG8dktkOcLMp4P5m7cYauXhb_LgpvH8LTYhGpBNCv3_lobVQ/viewform"
    target="_blank" class="button apply"><p>Apply</p></a>
  </article>
</section>
