<section class="wrapper scholarship" id="scholarship">
  <article class="scholarship-description">
    <h2>Opportunity Scholarship</h2>
    <p class="scholarship-description">To make this conference accessible to more people, we're offering
    scholarships to attend Codeland. Scholars receive a heavily discounted
    conference ticket at $25, as well as assistance in covering travel expenses,
    depending on need and available funds.</p>
  </article>
  <div class="scholarship-options">
    <a href="https://airtable.com/shrOqchZFNb3HHRFi" target="_blank" class="scholarship-application">
      <article class="scholarship-options--grid">
        <div class="scholarship-options__body">
          <h3 class="scholarship-option__header">Scholarship Application</h3>
          <p>Apply for a scholarship by May 28. If you are part of an
          underrepresented group in tech, including women, members of
          underrepresented demographic groups*, and members of the LGBTQ+ community, we highly encourage you to apply.</p>
        </div>
        <div class="scholarship-options__footer">
          <article class="button button--small button__apply">
                apply
          </article>
        </div>
      </article>
    </a>
    <a href="https://ti.to/codenewbie/codeland-2019/with/f2lybwi0khk" target="_blank" class="scholarship-donate">
      <article class="scholarship-options--grid">
        <div class="scholarship-options__body">
          <h3 class="scholarship-option__heading">Pay It Forward Ticket</h3>
          <p>In 2017, we brought 55 scholars to Codeland. Buy a ticket, and
          help us do it again. Your ticket goes directly to a scholar, and we'll post your name
          on the Codeland website as a thank you for your contribution.</p>
        </div>
        <div class="scholarship-options__footer
        scholarship-options__footer--bottom-align">
          <article class="button button--small button__donate">
                purchase
          </article>
        </div>
      </article>
    </a>
  </div>
</section>
