<section class="wrapper scholarship" id="scholarship">
  <article class="scholarship-description">
    <h2>Opportunity Scholarship</h2>
    <p class="scholarship-description">To make this conference accessible to more people, we're offering
    scholarships to attend Codeland. Scholars receive a heavily discounted
    conference ticket at $25, as well as assistance in covering travel expenses,
    depending on need and available funds.</p>
  </article>
  <div class="scholarship-options">
    <article class="scholarship-application">
      <h3>Scholarship Application</h3>
      <p>Apply for a scholarship by Feb 25. If you are part of an underrepresented group in tech, including women, members of underrepresented demographic groups*, and members of the LGBTQ community, we highly encourage you to apply.</p>
      <article class="apply">
        <span class="boxed">
          <div class="button apply-button box">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScZF8V6HbQl9PzUuwIIfMrgeFa_tsns2xy7faOW478yox3COg/viewform" target="_blank" class="box">apply</a>
          </div>
        </span>
      </article>
    </article>
    <article class="scholarship-donate">
      <h3>"Pay It Forward" Ticket</h3>
      <p>In 2017, we brought 55 scholars to Codeland. Buy a ticket, and
      help us do it again. Your ticket goes directly to a scholar, and we'll post your name
      on the Codeland website as a thank you for your contribution.</p>
      <article class="donate">
        <span class="boxed">
          <div class="button donate-button box">
            <a href="https://ti.to/codenewbie/codeland/with/zrs754gk89i"
            target="_blank" class="box">sponsor</a>
          </div>
        </span>
      </article>
    </article>
  </div>
</section>
