<section id="scholarships" class="section-card scholarships">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Opportunity Scholarship
      </h1>
      <p class="section-container--description">
        To make this conference accessible to more people, we're offering
        scholarships to attend Codeland:Distributed workshops.
      </p>
    </header>
    <article class="section-container--column--container column--2">
      <div class="column">
        <h3>
          Scholarship Application
        </h3>
        <p>
          Apply for a scholarship by <strong>May 15</strong>. If you are part of
          an underrepresented group in tech, including women, members of
          underrepresented demographic groups, and members of the LGBTQ+
          community, we highly encourage you to apply.
        </p>
        <button type="submit" onClick="javascript:window.open('https://airtable.com/shrDE8Udy7PcA6BkT', '_blank');">
          Apply
        </button>
      </div>
      <div class="column">
        <h3>
          Pay-It-Forward Ticket
        </h3>
        <p>
          Purchase a ticket to fund scholarship opportunities for other attendees. If you have the resources, we encourage you to help out and pay-it-forward.
        </p>
        <a class="button" href="https://ti.to/codenewbie/codeland-distributed">
          Purchase
        </a>
      </div>
    </article>
  </section>
</section>
