<section id="speakers" class="wrapper speakers">
  <article class="speaker-description">
    <h2>Speakers</h2>
    <p>We're so excited to have these incredible speakers at Codeland. <br>More speakers to
    be announced!</p>
    <br>
  </article>
  <div class="speaker-list">
    <% data.people.speakers.each do |speaker| %>
      <article class="speaker">
        <img src="<%= speaker.image_url %>">
        <p class="speaker-title"><%= speaker.full_name %></p>
      </article>
    <% end %>
  </div>
</section>
