<section id="speakers" class="wrapper speakers">
  <article class="speaker-description">
    <h2>2018 Speakers</h2>
    <p class="speaker-description">
      Incredible technologists from all over the world, sharing stories from
      their coding journey.<br>More speakers to be announced soon! 
    </p>
    <br>
  </article>
  <div class="speaker-list">
    <% data.people.speakers.each do |speaker| %>
      <article class="speaker">
      <a href=<%= "/speakers/#{speaker.full_name.gsub(" ", "-").downcase}"%>>
        <img src="<%= speaker.image_url %>">
        <p class="speaker-title"><%= speaker.full_name %></p>
      </a>
      </article>
    <% end %>
  </div>
</section>
