
<section id="program" class="section-card program" aria-labelledby="cfpHeader">
  <div class="mask"></div>
  <div class="section-container">
    <div class="section-container--header">
      <h2 class="headline-display section-container--title" id="cfpHeader">
        Talk Info
      </h2>
      <p class="section-container--description">
        The magic of CodeLand lies in our fantastic talks from a diverse group of speakers &mdash; from the CodeNewbie Community and beyond! No two talks will be alike, but together, they’ll be inspiring and packed with practical information.
      </p>
    </div>
  </div>
</section>
<%= partial "layouts/keynotes" %>
<%# <%= partial "layouts/talks" %>
