<section id="sponsors" class="wrapper speakers">
  <article class="sponsor-description">
    <h2>Sponsors</h2>
    <p class="sponsor-description">A huge thank you to the following sponsors
    for sponsoring our 2018 conference.
  </article>
  <div class="sponsor-list">
      <div class="sponsor-list--row-1">
        <% data.sponsors.sponsors[0..2].each do |sponsor| %> 
          <article class="sponsor-image">
            <a href=<%= sponsor.link %> target="_blank">
              <img src=<%= sponsor.image_url %>></img>
            </a>
          </article>
        <% end %>
      </div>
      <div class="sponsor-list--row-2">
        <% data.sponsors.sponsors[3..5].each do |sponsor| %> 
          <article class="sponsor-image">
            <a href=<%= sponsor.link %> target="_blank">
              <img src=<%= sponsor.image_url %>></img>
            </a>
          </article>
        <% end %>
      </div>
  </div>
  <p class="sponsor-description">
    Interested in sponsoring Codeland?<br>Email us
    hello@codenewbie.org.
  </p>
</section>
