<section id="sponsors" class="section-card sponsors" aria-labelledby="sponsorHeader">
  <div class="section-container">
    <header class="section-container">
      <h2 class="headline-display section-container--title" id="sponsorHeader">
        Sponsors
      </h1>
      <div class="sponsors-links-container">
        <a class="sponsors-link" href="https://aka.ms/Azure/Free">
          <img src="https://user-images.githubusercontent.com/69541346/132790723-b3043937-687b-489f-92ab-e7f91bedb830.png" alt="Microsot" />
        </a>
        <a class="sponsors-link" href="https://github.com/about/careers">
          <img src="https://user-images.githubusercontent.com/69541346/134223830-dc8f8a38-7125-431d-ad11-5fb40439f7f1.png" alt="GitHub" />
        </a>
        <a class="sponsors-link" href="https://strapi.io/careers?utm_source=event&utm_medium=codeland">
          <img src="https://user-images.githubusercontent.com/69541346/134223904-55a21ff6-ed47-47a0-bf88-431e116b1879.png" alt="Strapi" />
        </a>
        <a class="sponsors-link" href="https://getstream.io/?utm_source=codeland&utm_medium=event&utm_content=developer&utm_campaign=09_23_2021&utm_term=virtual">
          <img src="https://mms.businesswire.com/media/20200814005095/en/812806/23/blue-stacked-stream-logo%40100x_%281%29.jpg" alt="Stream" />
        </a>
        <a class="sponsors-link" href="https://www.devocate.com/">
          <img src="https://user-images.githubusercontent.com/69541346/133307258-5cc88c4a-878a-4fb8-9bfc-db521abce473.png" alt="Devocate" />
        </a>
        <a class="sponsors-link" href="https://www.storyblok.com/?utm_source=codeland&utm_medium=logo&utm_campaign=codeland2021">
          <img src="https://user-images.githubusercontent.com/69541346/131401327-2e7251c5-5c77-4265-9ef9-c615ab5f0bba.png" alt="Storyblok" />
        </a>
        <a class="sponsors-link" href="https://www.cockroachlabs.com/?utm_campaign=event-codeland&utm_source=codeland&utm_medium=event&utm_content">
          <img src="https://user-images.githubusercontent.com/69541346/131754016-629e906a-b4b4-462a-bbf3-ded678baa507.png" alt="Cockroach Labs" />
        </a>
        <a class="sponsors-link" href="https://ionicframework.com/?utm_source=partner&utm_medium=referral&utm_campaign=codeland2021">
          <img src="https://user-images.githubusercontent.com/69541346/133913899-28e2a4df-dbf3-4a67-998e-cf963f35c0bd.png" alt="Ionic" />
        </a>
        <a class="sponsors-link" href="https://newrelic.com/">
          <img src="https://user-images.githubusercontent.com/69541346/134092123-464fac41-8809-4486-966f-0af06cd81092.png" alt="New Relic" />
        </a>
        <a class="sponsors-link" href="http://commsor.com/">
          <img src="https://user-images.githubusercontent.com/69541346/134092280-bd56d719-a47a-4710-85ea-7ef8603efefe.png" alt="Commsor" />
        </a>
        <a class="sponsors-link" href="https://about.sourcegraph.com/">
          <img src="https://user-images.githubusercontent.com/69541346/134092537-c2a5b8d0-4314-45cb-a675-88b8041ec4f4.png" alt="Sourcegraph" />
        </a>
        <a class="sponsors-link" href="https://typesense.org">
          <img src="https://user-images.githubusercontent.com/69541346/134092636-03533695-92bc-44e5-b424-33d0e19c6977.png" alt="Typesense" />
        </a>
        <a class="sponsors-link" href="https://aws.amazon.com/">
          <img src="https://user-images.githubusercontent.com/69541346/134223661-a0d95fde-4a41-4326-9ff4-bd81cf71c081.png" alt="AWS" />
        </a>


        
      </div>
      <p class="section-container--description">
        Interested in joining other tech thought-leaders in supporting CodeLand? Want to share your service or product with a global audience of developers? Fill out our form for more information on sponsorship opportunities.
      </p>
    </header>
    <div class="section-container--body">
      <!-- Begin Mailchimp Signup Form -->
      <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css"> -->
      <div id="mc_embed_signup">
        <form action="https://codenewbie.us8.list-manage.com/subscribe/post?u=0a92a565e5b5037722c845fdb&amp;id=7736126f21" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" rel="noopener" novalidate>
          <fieldset id="mc_embed_signup_scroll">
            <legend class="text-h2">Contact us</legend>
            <p>Not seeing our sponsorship form? Click <a href="https://codenewbie.us8.list-manage.com/subscribe?u=0a92a565e5b5037722c845fdb&id=7736126f21">this link</a> or try <a href="https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop#w_what-to-do-if-a-site-seems-broken">disabling tracking protection</a> if you're using Firefox.</p>
            <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <br>
            <div class="sponsors-mailchimp-form">
              <div class="sponsors-contact-information">
                <p class="mc-field-group-title"><strong>Contact Information</strong></p>
                <div class="mc-field-group">
                  <label for="mce-EMAIL" class="mc-field-label">Email Address <span class="asterisk">*</span>
                  </label>
                  <input type="email" value="" name="EMAIL" class="required email mc-field-input" id="mce-EMAIL">
                </div>
                <div class="mc-field-group">
                  <label for="mce-FNAME" class="mc-field-label">First Name </label>
                  <input type="text" value="" name="FNAME" class="mc-field-input" id="mce-FNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-LNAME" class="mc-field-label">Last Name </label>
                  <input type="text" value="" name="LNAME" class="mc-field-input" id="mce-LNAME">
                </div>
                <div class="mc-field-group">
                  <label for="mce-TITLE" class="mc-field-label">Title </label>
                  <input type="text" value="" name="TITLE" class="mc-field-input" id="mce-TITLE">
                </div>
                <div class="mc-field-group">
                  <label for="mce-ORG" class="mc-field-label">Organization </label>
                  <input type="text" value="" name="ORG" class="mc-field-input" id="mce-ORG">
                </div>
              </div>
              <div class="sponsors-options">
                <div class="mc-field-group input-group">
                  <p class="mc-field-group-title"><strong>Sponsorship Level of Interest</strong></p>
                  <ul>
                    <li><input type="checkbox" value="2" name="group[82847][2]" id="mce-group[82847]-82847-0"><label for="mce-group[82847]-82847-0">Patron</label></li>
                    <li><input type="checkbox" value="4" name="group[82847][4]" id="mce-group[82847]-82847-1"><label for="mce-group[82847]-82847-1">Mentor</label></li>
                    <li><input type="checkbox" value="8" name="group[82847][8]" id="mce-group[82847]-82847-2"><label for="mce-group[82847]-82847-2">Inclusion</label></li>
                    <li><input type="checkbox" value="16" name="group[82847][16]" id="mce-group[82847]-82847-3"><label for="mce-group[82847]-82847-3">Lightning Talk</label></li>
                    <li><input type="checkbox" value="32" name="group[82847][32]" id="mce-group[82847]-82847-4"><label for="mce-group[82847]-82847-4">Podcast</label></li>
                    <li><input type="checkbox" value="64" name="group[82847][64]" id="mce-group[82847]-82847-5"><label for="mce-group[82847]-82847-5">Hackathon</label></li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0a92a565e5b5037722c845fdb_7736126f21" tabindex="-1" value="" aria-label="If you are human, leave this field blank"></div>
            <div class="clear"><input type="submit" value="Contact Us" name="contact us" id="mc-embedded-subscribe" class="button"></div>
          </fieldset>
        </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
      <script type='text/javascript'>
      (function($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
      }(jQuery));
      var $mcj = jQuery.noConflict(true);
      </script>
      <!--End mc_embed_signup-->
    </div>
  </div>
</section>