<section id="sponsors" class="section-card sponsors">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        A huge thank you to our amazing sponsors for helping bring CodeLand:Distributed to life!
      </h1>
    </header>
    <div class="section-container--body">
      <h2>Our Patron Sponsors</h2>
      <div class="media-grid-container">
        <% data.sponsors.sponsors[0..1].each do |sponsor| %>
          <figure class="media-grid-item">
            <a href=<%= sponsor.link %> target="_blank">
              <img src=<%= sponsor.image_url %>></img>
            </a>
          </figure>
        <% end %>
      </div>
      <h2>All Sponsors</h2>
      <div class="media-grid-container">
        <% data.sponsors.sponsors[2..11].each do |sponsor| %>
          <figure class="media-grid-item">
            <a href=<%= sponsor.link %> target="_blank">
              <img src=<%= sponsor.image_url %>></img>
            </a>
          </figure>
        <% end %>
      </div>
    </div>
  </section>
</section>
