<section id="sponsors" class="wrapper sponsors">
  <article class="sponsor-description">
    <h3>Sponsors</h3>
    <p>A huge thank you to the following sponsors for making our first
    conference possible.
    <br>If you're interested in sponsoring Codeland, email us
    hello@codenewbie.org.</p>
  </article>
  <div class="sponsor-list">
    <article class="sponsor-image">
      <a href="https://github.com/" target="_blank">
      <img
      src="https://s3.amazonaws.com/codenewbie-assets/codeland/GitHub_Logo.png"></img>
      </a>
    </article>
    <article class="sponsor-image">
      <a href="https://www.etsy.com/" target="_blank">
      <img
      src="https://s3.amazonaws.com/codenewbie-assets/codeland/Etsy_logo.png"></img>
      </a>
    </article>
    <article class="sponsor-image">
      <a href="https://www.google.com/chrome/" target="_blank">
      <img
      src="https://s3.amazonaws.com/codenewbie-assets/codeland/Chrome-Logo.png"></img>
      </a>
    </article>
  </div>
</section>
