<section class="testimonial photo-panel">
  <div class="group-photo">
    <img src="../images/group-photo.jpg">
  </div>
  <article class="reasons-to-come photo-panel-text">
    <h4 class="section-header">3 reasons to come to codeland</h4>
    <ol>
      <li>
        <h5>Inclusive Community</h5>
        <p>We're the kindest, most inclusive, most supportive community of programmers
        and people learning to code. We got dance breaks, the most delicious
        food, and plenty of time to make new coding friends.</p>
      </li>
      <li>
        <h5>Inspiring Talks</h5>
        <p>Hear inspiring stories to get you excited about code from speakers of
        all backgrounds and skill levels. We spend an average of 4hrs with each
        speaker to make sure they're ready for the big day, and you get to hear
        the best talks.</p>
      </li>
      <li>
        <h5>Hands-on Learning</h5>
        <p>
          If you're early in your coding journey, this conference is designed
          especially for you. Each talk comes with a cheatsheet so you never
          feel lost. Talks are accessible to all skill levels and coding
          interests.
        </p>
      </li>
    </ol>
  </article>
</section>
