<section id="tickets" class="section-card tickets">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Tickets
      </h1>
      <p>
        CodeLand:Distributed is a two-day online conference. Both days will include networking opportunities, social sharing, digital swag, and other unique communal activities. You’ll leave with new contacts and industry connections, but also–with new friends!
      </p>
    </header>
    <div class="section-container--body ticket-options">
      <ul>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3>
              Thursday Only (July 23)
              </h3>
              <p>
              Day One is a full-day of talks. Hear from our lineup of incredible speakers covering a variety of topics centered around Open Source, Collaboration, and the Evolving Software Career. You'll walk away amazed by new technologies and inspired by thought-provoking stories. We think you'll also have a few aha! moments in our deep dives.
              </p>
            </div>
            <div class="ticket-options--price">
              <h3>
                Free!
              </h3>
            </div>
          </div>
          <div class="ticket-options--action">
            <a class="button" href="https://ti.to/codenewbie/codeland-distributed">
              Register
            </a>
          </div>
        </li>
        <hr>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3 class="ticket-options--title">
                Thursday & Friday (July 23 - 24)
              </h3>
              <p>Day Two is our workshop day. You'll get to attend two workshops from leaders in the industry. Expect 2.5 hour experiential sessions with class sizes no larger than 30 individuals. Workshops involve creating, problem solving, and collaborating.</p>
              <p>A workshop ticket includes both days of the conference.</p>
            </div>
            <div class="ticket-options--price">
                <h3>
                  $25
                </h3>
              </div>
            </div>
            <div class="ticket-options--action">
              <a class="button" href="https://ti.to/codenewbie/codeland-distributed">
                Get Ticket
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
