<section id="tickets" class="section-card tickets">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Tickets
      </h1>
      <p>
        CodeLand is a two day conference. We have
        tickets available for both 1-day and 2-day passes.
      </p>
      <p>
        Tickets provide access to activities, workshops, and
        programming.
      </p>
      <ul>
        <li>
          Breakfast, lunch, and dinner (day one)
        </li>
        <li>
          Breakfast and lunch (day two)
        </li>
        <li>
          Technical talks (day one)
        </li>
        <li>
          Two coding workshops (day two)
        </li>
        <li>
          Invitation to the afterparty (day one)
        </li>
        <li>
          Childcare services (both days)
        </li>
        <li>
          More activities to be announced 🎉
        </li>
      </ul>
    </header>
    <div class="section-container--body ticket-options">
      <header class="ticket-options--header">
        <h3 class="ticket-options--title">
          1 Day (Talks + Community) Pricing
        </h3>
      </header>

      <ul>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3>
                Student
              </h3>
              <p>
                You're a student or otherwise cannot afford the individual ticket.
              </p>
            </div>
            <div class="ticket-options--price">
              <h3>
                $149
              </h3>
            </div>
          </div>
          <div class="ticket-options--action">
            <a class="button" href="https://ti.to/codenewbie/codeland-2020">
              Get Ticket
            </a>
          </div>
        </li>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3>
                Individual
              </h3>
              <p>
                You're currently employed and can afford the regular ticket on your own.
              </p>
            </div>
            <div class="ticket-options--price">
              <h3>
                $199
              </h3>
            </div>
          </div>
          <div class="ticket-options--action">
            <a class="button" href="https://ti.to/codenewbie/codeland-2020">
              Get Ticket
            </a>
          </div>
        </li>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3>
                Professional
              </h3>
              <p>
                You’re currently employed and your company is paying for your ticket.
              </p>
            </div>
            <div class="ticket-options--price">
              <h3>
                $249
              </h3>
            </div>
          </div>
          <div class="ticket-options--action">
            <a class="button" href="https://ti.to/codenewbie/codeland-2020">
              Get Ticket
            </a>
            </div>
        </li>
      </ul>
    </div>
    <div class="section-container--body ticket-options" style="margin-top: 110px">
    <header class="ticket-options--header">
      <h3 class="ticket-options--title">
        2 Day (Talks + Community + 2 Workshops) Pricing
      </h3>
    </header>

    <ul>
      <li>
        <div class="ticket-options--information">
          <div class="ticket-options--type">
            <h3>
              Student
            </h3>
            <p>
              You're a student or otherwise cannot afford the individual ticket.
            </p>
          </div>
          <div class="ticket-options--price">
            <h3>
              $299
            </h3>
          </div>
        </div>
        <div class="ticket-options--action">
          <a class="button" href="https://ti.to/codenewbie/codeland-2020">
            Get Ticket
          </a>
        </div>
      </li>
      <li>
        <div class="ticket-options--information">
          <div class="ticket-options--type">
            <h3>
              Individual
            </h3>
            <p>
              You're currently employed and can afford the regular ticket on your own.
            </p>
          </div>
          <div class="ticket-options--price">
            <h3>
              $399
            </h3>
          </div>
        </div>
        <div class="ticket-options--action">
          <a class="button" href="https://ti.to/codenewbie/codeland-2020">
            Get Ticket
          </a>
        </div>
      </li>
      <li>
        <div class="ticket-options--information">
          <div class="ticket-options--type">
            <h3>
              Professional
            </h3>
            <p>
              You’re currently employed and your company is paying for your ticket.
            </p>
          </div>
          <div class="ticket-options--price">
            <h3>
              $499
            </h3>
          </div>
        </div>
        <div class="ticket-options--action">
          <a class="button" href="https://ti.to/codenewbie/codeland-2020">
            Get Ticket
          </a>
        </div>
      </li>
    </ul>
  </div>
  </section>
</section>
