<section id="tickets" class="section-card tickets">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Tickets
      </h1>
      <p>
        Tickets to CodeConf gives you access to many activities, workshops, and
        programming. They include:
      </p>
      <ul>
        <li>
          Breakfast, lunch, and dinner (day one)
        </li>
        <li>
          Breakfast, lunch, and dinner (day two)
        </li>
        <li>
          Technical talks
        </li>
        <li>
          Two coding workshops
        </li>
        <li>
          Invitation to the day one afterparty
        </li>
        <li>
          More activities to be announced 🎉
        </li>
      </ul>
    </header>
    <div class="section-container--body ticket-options">
      <header class="ticket-options--header">
        <h3 class="ticket-options--title">
          Pricing <em>(Early-bird pricing until 03/13)</em>
        </h3>
      </header>

      <ul>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3>
                Student
              </h3>
              <p>
                You're a student or otherwise cannot afford the individual ticket.
              </p>
            </div>
            <div class="ticket-options--price">
              <h3>
                $149
              </h3>
              <p class="strikethrough">
                reg: $199
              </p>
            </div>
          </div>
          <div class="ticket-options--action">
            <button>
              Get Ticket
            </button>
          </div>
        </li>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3>
                Individual
              </h3>
              <p>
                You're currently employed and can afford the regular ticket on your own.
              </p>
            </div>
            <div class="ticket-options--price">
              <h3>
                $199
              </h3>
              <p class="strikethrough">
                reg: $249
              </p>
            </div>
          </div>
          <div class="ticket-options--action">
            <button>
              Get Ticket
            </button>
          </div>
        </li>
        <li>
          <div class="ticket-options--information">
            <div class="ticket-options--type">
              <h3>
                Professional
              </h3>
              <p>
                You’re currently employed and your company is paying for your ticket.
              </p>
            </div>
            <div class="ticket-options--price">
              <h3>
                $299
              </h3>
              <p class="strikethrough">
                reg: $349
              </p>
            </div>
          </div>
          <div class="ticket-options--action">
            <button>
              Get Ticket
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>
</section>
