<section class="wrapper tickets-info" id="tickets">
  <article class="ticket-header">
    <h2>Tickets</h2>
    <p class="description">
      Super Early Bird tickets are sold out. The following Early Bird tickets will go live
      December 11.
    </p>
  </article>
  <div class="tickets">
    <a href="http://eepurl.com/cgPsn9" class="ticket">
      <div class="ticket-border">
        <div class="ticket-time__wrapper">
          <h5 class="ticket-time">Early Bird</h5>
        </div>
        <div class="ticket-type__wrapper">
          <h4 class="ticket-type-name">Student</h4>
          <h3 class="ticket-type-price">$149</h3>
        </div>
      </div>
    </a>
    <a href="http://eepurl.com/cgPsn9" class="ticket">
      <div class="ticket-border">
        <div class="ticket-time__wrapper">
          <h5 class="ticket-time">Early Bird</h5>
        </div>
        <div class="ticket-type__wrapper">
          <h4 class="ticket-type-name">Individual</h4>
          <h3 class="ticket-type-price">$199</h3>
        </div>
      </div>
    </a>
    <a href="http://eepurl.com/cgPsn9" class="ticket">
      <div class="ticket-time__wrapper">
        <h5 class="ticket-time">Early Bird</h5>
      </div>
      <div class="ticket-type__wrapper">
        <h4 class="ticket-type-name">Supporter</h4>
        <h3 class="ticket-type-price">$299</h3>
      </div>
    </a>
  </div>
</section>
