<section id="tickets" class="section-card tickets">
  <section class="section-container">
    <header class="section-container--header">
      <h1 class="section-container--title">
        Tickets
      </h1>
      <p>
        Tickets to CodeConf gives you access to many activities, workshops, and programming. They include:
      </p>
      <ul>
        <li>
          Breakfast, lunch, dinner
        </li>
        <li>
          Technical talks
        </li>
        <li>
          Choice of coding workshop
        </li>
        <li>
          Invite to afterparty
        </li>
      </ul>
    </header>
    <div class="section-container--body ticket-options">
      <header class="ticket-options--header">
        <h3 class="ticket-options--title">
          Pricing <em>(Early-bird pricing until 01/30)</em>
        </h3>
      </header>

      <ul>
        <li>
          <div class="ticket-options--type">
            <h3>
              Student
            </h3>
            <p>
              You're a student or otherwise cannot afford the individual ticket.
            </p>
          </div>
          <div class="ticket-options--price">
            <h3>
              $149
            </h3>
            <p class="strikethrough">
              reg: $199
            </p>
          </div>
          <div class="ticket-options--action">
            <button>
              Get Ticket
            </button>
          </div>
        </li>
        <li>
          <div class="ticket-options--type">
            <h3>
              Individual
            </h3>
            <p>
              You're currently employed and can afford the regular ticket.
            </p>
          </div>
          <div class="ticket-options--price">
            <h3>
              $149
            </h3>
            <p class="strikethrough">
              reg: $199
            </p>
          </div>
          <div class="ticket-options--action">
            <button>
              Get Ticket
            </button>
          </div>
        </li>
        <li>
          <div class="ticket-options--type">
            <h3>
              Supporter
            </h3>
            <p>
              You want to support our community and help us keep the conference affordable.
            </p>
          </div>
          <div class="ticket-options--price">
            <h3>
              $149
            </h3>
            <p class="strikethrough">
              reg: $199
            </p>
          </div>
          <div class="ticket-options--action">
            <button>
              Get Ticket
            </button>
          </div>
        </li>
      </ul>
    </div>
  </section>

</section>
