<% wrap_layout :layout do %>
  <div class="site-header--container">
    <%= partial "layouts/banner" %>
    <%= partial "layouts/nav" %>
  </div>
  <main>
    <%= yield %>
  </main>
  <%= partial "layouts/footer" %>
<% end %>