<% wrap_layout :layout do %>
  <div class="site-header--container">
    <%= partial "layouts/banner" %>
    <%= partial "layouts/nav" %>
  </div>
  <main>
    <%= yield %>
  </main>
  <footer class="simple-footer">
    <a href="/">
      Return to conference
    </a>
  </footer>
<% end %>