---
layout: simple
---

<section class="accessibility page-container">
  <h1>
    CodeLand 2021 Accessibility Statement
  </h1>

  <article class="section-container--block">
    <p>
      CodeNewbie Community, Dev Community Inc., and all associated members of the CodeLand 2021 planning team are dedicated to providing an event that is inclusive, welcoming, and accessible for everyone.
    </p>

    <p>
      As such, we are ensuring that keynotes contain live captions and pre-recorded talks contain closed captions for anyone who may find them useful. Talk recordings will be distributed after the event for those who would benefit from replaying the event at their own pace. We are also committed to ensuring that all speakers use inclusive language and methods of presentation.
    </p>

    <p>
      We encourage anyone who has questions about accessibility at CodeLand to email us at <a href="mailto:codeland@codenewbie.org">codeland@codenewbie.org.</a> While we might not be able to accommodate each individual situation, we are committed to fielding every concern and request with the goal of making CodeLand the best possible experience for all.
    </p>
  </article>
</section>

