<section id="more-info" class="section-card more-info">
  <section class="section-container">
    <article class="section-container--article">
      <h1 class="section-container--title">
        More Info
      </h1>
      <div class="section-container--block">
        <h3>Childcare</h3>
        <p>
          We're offering complimentary, on-site childcare from 9AM - 5PM.
        </p>
        <p>
          Bring your kids to CodeLand. We have certified caregivers ready to take care of your mini CodeNewbies so you can focus on the conference. Register for childcare when you purchase your ticket.
        </p>
      </div>
      <div class="section-container--block">
        <h3>Code of Conduct</h3>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Read our <a href="/coc">Code of Conduct</a>.
        </p>
      </div>
    </article>
  </section>
</section>
