<section class="wrapper">
  <article class="speaker-profile">
    <img src="<%= speaker.image_url =%>">
    <div class="speaker-profile-info">
      <h4><%= speaker.full_name %></h4>
      <h2><%= speaker.talk_title %></h2>
      <p><%= speaker.talk_abstract %></p>
      <h4><a href="/#full-program">&#8592 Back to program</a></h4>
    </div>
  </article>
</section>
