---
layout: simple
---

<div class="workshops">
  <div class="section-container">
    <header class="section-container--header">
      <h1 class="workshops--headline headline-display section-container--title">
        Enrich your CodeLand experience with an immersive add-on workshop!
      </h1>
      <p class="section-container--description">
        Get direct guidance and motivation from the people who build <a href="https://forem.com">Forem</a>: the open source community software that powers <a href="https://community.codenewbie.org">CodeNewbie Community</a>, <a href="https://dev.to">dev.to</a>, and beyond.
      </p>
      <p>
        Our two-hour virtual workshops will be taking place on September 23rd and 24th during the free period. Each one focuses on different newbie-friendly topics and uses Forem as an open source case-study. You’ll be joined by a small group of other CodeLand attendees. Questions and experimentation are welcome and encouraged!
      </p>
    </header>

    <div class="section-container--block">
      <h1>Workshops at CodeLand</h1>

      <div class="workshop-time">
        <h2>Thu, Sept 23</h2>
        <h3>9:50-11:50 am PT / 12:50-2:50 pm ET / 4:50-6:50 pm UTC</h3>
      </div>
      <div class="workshop-item">
        <div class="workshop-info">
          <h4 class="workshop-title" id="ConfiguringCommunityPart1">Configuring Community [pt. I]: Self-Hosting Your Forem</h4>
          <h5>
            Leaders: Christina Gorton (Developer Advocate) & Joe Doss (Principal Systems Architect)
          </h5>
        </div>
        <div class="workshop-content">
          <p>
            In this workshop, we'll help you set up your own Forem using Git, Python 3.x, Ansible, Butane, Fedora CoreOS, a supported cloud provider (DigitalOcean, AWS, or Google Cloud), and your creativity. You'll walk away with a brand new community (deployed to production) focused on whatever topic fascinates you!
          </p>
          <p>
            Note: Part II of this workshop (“Configuring Community: Making Forem Your Own”) takes place on September 24 and is led by Ella Ang de Jonge and Michael Tharrington.
          </p>
        </div>
      </div>

      <div class="workshop-item">
        <div class="workshop-info">
          <h4 class="workshop-title" id="OpenSourceBlastoff">Open Source Blastoff!</h4>
          <h5>
            Leaders: Nick Taylor (Lead Software Engineer) & Arit Amana (Software Engineer)
          </h5>
        </div>
        <div class="workshop-content">
          <p>
            In this workshop, you have one mission: to get more comfortable making open source contributions. We’ll use Forem as our example project and get you familiar with the basics of making contributions to open source projects while respecting open source etiquette and project maintainers.
          </p>
        </div>
      </div>

      <div class="workshop-time">
        <h2>Fri, Sept 24</h2>
        <h3>9:50-11:50am PT / 12:50-2:50pm ET / 4:50-6:50pm UTC
        </h3>
      </div>

      <div class="workshop-item">
        <div class="workshop-info">
          <h4 class="workshop-title" id="ConfiguringCommunityPart2">Configuring Community [pt. II]: Making Forem Your Own</h4>
          <h5>
            Leaders: Michael Tharrington (Community Manager)  & Ella Ang de Jonge (Community Associate)
          </h5>
        </div>
        <div class="workshop-content">
          <p>
            You’ve just installed your Forem and are ready to set it up. What’s next? Don’t worry, we got you covered. In this workshop, we’ll walk you through configuring your Forem and offer guidance on what you may want to do after first setting it up.
          </p>

          <p>
            Note: This is a follow up to “Configuring Community: Self-Hosting Your Forem [pt. I]”
          </p>
        </div>
      </div>

      <div class="workshop-item">
        <div class="workshop-info">
          <h4 class="workshop-title" id="BuildingtheWebForAll">Building the Web For All: A Primer on A11y</h4>
          <h5>
            Leaders: Suzanne Atchison (Software Engineer) & Nick Taylor (Lead Software Engineer)
          </h5>
        </div>
        <div class="workshop-content">
          <p>
            In this workshop, we'll take a look at the basic principles of web accessibility and how to keep them front and center while developing software. We'll use the Forem codebase as a touchpoint along the way as a case study and example.
          </p>
        </div>
      </div>

      <h2>Why Forem?</h2>
      <p>Our team is excited to present these four CodeLand workshops to help you tackle subjects that spark your interest through the lens of Forem: the open source community software that powers CodeNewbie Community. We welcome contributions and participation from newbies and do our work in the open – values that are shared by CodeLand attendees like you!</p>

      <p><em>Questions about our workshops? Email us at <a href="mailto:codeland@codenewbie.org">codeland@codenewbie.org</a></em></p>
    </div>
  </div>
</div>

