button,
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: inline-block;
  border: none;
  font-family: $base-font-family;
  font-size: 1em;
  background-color: $accent-color;
  color: white;
  font-weight: 800;
  padding: 0.75em 1.15em;
  transition: $transition;
  text-decoration: none;
}

button:focus,
button:hover,
.button:focus,
.button:hover {
  background-color: $accent-color-lite;
  color: white;
  cursor: pointer;
}
