$container-width: 76vw;

@mixin container-phone {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

@mixin container-tablet-landscape($width: $container-width) {
  width: $width;
  margin: 0 auto;
}
