@mixin media-grid() {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  grid-row-gap: 4em;
  column-gap: 2em;
  grid-auto-flow: dense;
}

.media-grid-container {
  @include media-grid();
  width: 100%;
  margin: 0 auto;
  padding-bottom: 5%;
}

.media-grid-item {
  align-items: center;
  display: flex;
  grid-column-end: span 1;
  grid-column-start: initial;
  margin: 0 auto;

  img {
    height: auto;
    max-height: 100px;
    width: auto;
    max-width: 100%;
  }
}
