.page-container {
  @include container-phone();
  padding-top: $gutter-top;

  @include media-tablet-landscape() {
    @include container-tablet-landscape(48vw);
    padding-top: $gutter-top;
  }
}

.simple-footer {
  @include container-phone();
  margin-bottom: 1em;

  @include media-tablet-landscape() {
    @include container-tablet-landscape(48vw);
    margin-bottom: 2em;
  }
}
