.section-card {
  margin-top: $gutter-top / 4;
  margin-bottom: $gutter-bottom / 4;

  @include media-tablet-landscape() {
    margin-top: $gutter-top / 2;
    margin-bottom: $gutter-bottom / 2;
  }

  &:before {
    height: -webkit-fill-available;
    width: 125%;
    position: absolute;
    content: "";
  }
}

.section-container {
  @include container-phone();

  position: relative;
  overflow-x: hidden;
  margin: ($gutter / 4) auto;
  padding-bottom: $gutter-bottom / 2;
  padding-top: $gutter-top / 2;

  @include media-tablet-landscape() {
    @include grid();
    @include container-tablet-landscape();

    margin: ($gutter / 2) auto;
    padding-bottom: $gutter-bottom;
    padding-top: $gutter-top;
  }
}

.section-card.speakers,
.section-card.coming-soon,
.section-card.sponsors,
.section-card._community-partners {
  .section-container {
    padding-top: $gutter-top / 4;
    padding-bottom: $gutter-bottom / 4;

    @include media-tablet-landscape() {
      padding-top: $gutter-top / 2;
      padding-bottom: $gutter-bottom / 2;
    }
  }
}

.section-container--header {
  grid-column-start: initial;
  grid-column-end: span 4;
  margin-bottom: 1em;
}

.section-container--body {
  grid-column-start: 1;
  grid-column-end: span 8;
}

.section-container--article {
  grid-column-start: initial;
  grid-column-end: span 4;
}

.section-container--block {
  margin-bottom: 1em;
}
