<%= partial "layouts/nav" %>
<section class="faq page-container">
  <h1>
    Frequently Asked Questions
  </h1>
  <br>
  <article class="section-container--block">
    <h2><em>Answers in response to COVID-19 Conference Update:</em></h2>
    <br>
    <h3>Where does CodeLand take place?</h3>
    <p>Due to uncertainties within communities worldwide during the unprecedented time of the COVID-19 pandemic, all CodeLand activities this year will be virtual. We look forward to seeing you online in July!</p>

    <h3>I purchased a ticket to CodeLand, now what?</h3>
    <p>We have refunded all in-person conference ticket holders. Please email codeland@codenewbie.org if you have not received a refund.</p>

    <h3>When will I see a refund?</h3>
    <p>Refunds will be made in the same form as the original payment was received (e.g. a credit card payment will refund to the same credit card number) within 5-10 business days of processing. CodeLand organizers initiated refund processing on March 24, 2020</p>

    <h3>Can I put my refund towards a Workshop ticket?</h3>
    <p>Unfortunately, no. In an effort to streamline the process for efficiency, issue refunds in a timely manner, and provide needed customer service and support to all CodeLand collaborators during this shift, we have chosen to automatically refund all ticket sales. We appreciate your understanding and our hope is that you choose to re-register at the $25 2-day ticket price (that, and do something good with the moola you just saved!).</p>

    <h3>I applied for a Talk or to host a Workshop, now what?</h3>
    <p>We will be resonding to all applicants in Early April. If you are selected and interested in giving your talk or workshop remotely, we will send you all appropriate audio equipment. If you are not interested in speaking remotely, please send an email to codeland@codenewbie.org and we will remove your proposal from our review process.</p>

    <h2><em>General Questions</em></h2>
    <br>

    <h3>Who should attend?</h3>
    <p>CodeLand was created to bring together diverse populations within the tech world to connect, learn from one another, and explore trends, fundamentals, and inspiring stories within the industry.</p>
    <p>Come to CodeLand and join fellow coders if you fit any of the below criteria:</p>
    <ul>
        <li>You’re passionate about technology, coding, and community</li>
        <li>You’re currently employed as a Programmer, Coder, or Developer</li>
        <li>You are seeking a career change in IT</li>
        <li>You are a professional in a code-related role 
        (e.g. CTO, SDE, DevOps Engineer, Data Analyst, Software Architect)</li>
        <li>You’re looking for your first job in a developer role</li>
        <li>You code for fun!</li>
    </ul>

    <h3>Is there an age limit to attend CodeLand?</h3>
    <p>Attendees must be at least 18 years of age to attend.</p>

    <h3>Are volunteer opportunities available?</h3>
    <p>Yes, CodeLand would not be possible without the help of our incredible volunteers and we have various volunteer opportunities available! If you are interested in volunteering, email codeland@codenewbie.org to be added to our volunteer notification list. You will be emailed when our Volunteer Registration is available.</p>

    <h3>Is the conference accessible?</h3>
    <p>CodeLand will provide various accessibility tools, resources, and services to attendees. Our accessibility plan will be announced at a later date, with reasonable time to review, ask questions, and put in requests.</p>

    <h3>When will more information be available regarding specific Talk and Workshop content?</h3>
    <p>We will begin announcing our speaker lineup in mid-April.</p>

    <br><br>

    <a href="/">
      Return to conference
    </a>
  </article>
</section>


