---
layout: simple
---

<section class="faq page-container">
  <h1>
    Frequently Asked Questions
  </h1>
  <br>
  <article class="section-container--block">
    <h2 class="text-h3">Where will CodeLand 2021 take place?</h2>
    <p>For the second year in a row, all CodeLand activities will be virtual in 2021. While this is largely due to the safety of our community during the COVID-19 pandemic, a remote format allows anyone around the globe with internet access to join us.
    <br><br>
    We will be hosting CodeLand on <a href="http://community.codenewbie.org">CodeNewbie Community:</a> the dedicated home of CodeNewbie. We encourage you to join today and see what it’s all about!</p>

    <h2 class="text-h3">Who should attend?</h2>
    <p>CodeLand was created to unite diverse populations within the tech world to connect; learn from one another; and explore trends, fundamentals, and inspiring stories within the industry.
        <br><br>
    You belong at CodeLand if any of these statements resonate:
    <ul>
        <li>You’re passionate about technology, coding, and community</li>
        <li>You’re currently employed as a Programmer, Coder, or Developer</li>
        <li>You are seeking a career change in IT</li>
        <li>You are a professional in a code-related role (e.g. CTO, SDE, DevOps Engineer, Data Analyst, Software Architect)</li>
        <li>You’re looking for your first job in a developer role</li>
        <li>You code for fun!</li>
    </ul></p>

    <h2 class="text-h3">Tell me about accessibility at CodeLand</h2>
    <p>The virtual experience of CodeLand is being designed with global accessibility and all abilities top of mind. Additionally, CodeLand will be hosted on CodeNewbie Community: a site that is built on <a href="https://www.forem.com/">Forem</a>. For more information about Forem’s stance on accessibility, click <a href="https://docs.forem.com/frontend/accessibility/">here.</a></p>

    <h2 class="text-h3">How will talks be selected?</h2>
    <p>Our on-demand talks will be selected from submissions to our CFP (link), which opens on June 22. We have a diverse, balanced, and carefully selected group of reviewers from the CodeNewbie community, Forem team, and wider tech ecosystem. Additionally, we have many tactics in place to eliminate bias and ensure that our reviewers can focus on what matters: your amazing submissions!</p>


  </article>
</section>


