<%= partial "layouts/nav" %>
<section class="coc page-container">
  <h1>
    Code of Conduct
  </h1>

  <article class="section-container--block">
    <p>
      If you are being harassed, notice that someone else is being harassed, or
      have any other concerns, please contact the staff at CodeLand by emailing
      codeland@codenewbie.org or by reaching out to one of the conference
      organizers on site with a staff lanyard (colored pink).
    </p>

    <p>
      If your physical safety or the physical safety of others is at risk, please
      dial 911.
    </p>

    <p>
      Harassment includes, but is not limited to:
    </p>
    <ul>
      <li>
      Verbal comments that reinforce social structures of domination related to
      gender, gender identity and expression, sexual orientation, disability,
      physical appearance, body size, race, age, religion.
      </li>
      <li>Sexual images in public spaces.</li>
      <li>Deliberate intimidation, stalking, or following.</li>
      <li>Harassing photography or recording.</li>
      <li>Sustained disruption of talks or other events.</li>
      <li>Inappropriate physical contact.</li>
      <li>Unwelcome sexual attention.</li>
      <li>Advocating for, or encouraging, any of the above behaviour.</li>
    </ul>

    <p>
      Participants asked to stop any harassing behavior are expected to comply
      immediately.
    </p>

    <p>
      Sponsors are also subject to the anti-harassment policy. In particular,
      sponsors should not use sexualized images, activities, or other material.
      Booth staff (including volunteers) should not use sexualized
      clothing/uniforms/costumes, or otherwise create a sexualized environment.
    </p>

    <p>
      If a participant engages in harassing behaviour, event organizers retain the
      right to take any actions to keep the event a welcoming environment for all
      participants. This includes warning the offender or expulsion from the
      conference, with no refund.
    </p>

    <p>
      Event organizers may take action to redress anything designed to, or with
      the clear impact of, disrupting the event or making the environment hostile
      for any participants.
    </p>

    <p>
      We expect participants to follow these rules at all event-related
      activities. We think people should follow these rules outside event
      activities too!
    </p>

    <a href="/">
      Return to conference
    </a>
  </article>

  <section class="section-container--block">
    <%= partial "layouts/mailchimp_signup" %>
  </section>
</section>

