<%= partial "layouts/nav" %>
<header>
  <h1 class="new-font">Codeland</h1>
  <h2 class="subhead">Summer 2019</h2>
</header>
<style>
  .new-font {
    font-family: "Ribeye Marrow";
    font-size: 48px;
    color: $main;
    background: $main;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  .subhead {
    font-family: "Lato";
    font-size: 24px;
    padding-top: 0px;
    margin-top: 0px;
  }
</style>

<%= partial "layouts/love" %>
<%= partial "layouts/footer" %>
<%= partial "layouts/mailchimp_signup" %>
