    <header>
      <p class="date-location"><span class="highlight">April 21 - 22, 2017 • NYC</span></p>
      <span class="logo highlight">
        <%= image_tag "codeland-title-long.png" %>
      </span>
      <p class="conference-header"><span>a CodeNewbie conference, hosted by
          Microsoft</span></p>
      <h2 class="conference-description"><span class="highlight">two days of demos, talks, and workshops
            exploring the incredible world of code.</span></h2>
      <span class="boxed">
        <button class="get-tickets box">
          <a href="https://ti.to/codenewbie/codeland" target="_blank" class="box">get tickets</a>
          <span class="box-shadow"></span>
        </button>
      </span>
    </header>
    <section class="wrapper">
      <article class="conference-pitch">
        <h3>The only tech conference designed for new coders.</h3>
        <p>We've created a unique conference experience designed for new coders
          and people learning to code. Come out for great food, a supportive
          community, and inspiring content.</p>
      </article>
      <article class="program day-1">
        <h4><span class="capitalize">Day One</span> What can code do?</h4>
        <h3>Inspiring Talks</h3>
        <p>Discover how code is used to solve problems in the following fields
          from developers working in the industry.</p>
        <div class="topics">
          <h5 class="boxed"><span class="box">health</span><span class="box-shadow
              health"></span></h5>
          <h5 class="boxed"><span class="box">education</span><span
              class="box-shadow education"></span></h5>
          <h5 class="boxed"><span class="box">city life</span><span
              class="box-shadow city-life"></span></h5>
          <h5 class="boxed"><span class="box">community</span><span
              class="box-shadow community"></span></h5>
          <h5 class="boxed"><span class="box">art & gaming</span><span
              class="box-shadow art-gaming"></span></h5>
        </div>
      </article>
      <article class="program day-2">
        <h4><span class="capitalize">Day Two</span> What can you do with code?</h4>
        <h3>Practical Planning</h3>
        <p>Explore the practical side of coding and being a developer. topics
          include using side projects to build up your portfolio, contributing
          to open source, and crafting your personal learning strategy.</p>
        <h3>Hands-on Workshops</h3>
        <p>Pick from a selection of optional three-hour workshops on technical
          and non-technical coding topics, or join the open community coding
          session to socialize, code, and connect.
        </p>
      </article>
    </section>
    <section class="wrapper ticket-info">
      <article class="ticket-header">
        <h3>Early Bird Tickets</h3>
        <p>prices valid until Nov 16, 2016</p>
      </article>
      <div class="tickets">
        <a href="https://ti.to/codenewbie/codeland/with/ovu12fzuae4" target="_blank">
          <article class="ticket">
            <h3>
            <span class="checkbox boxed student">
              <span class="checkbox-shadow"></span>
              <span class="checkbox-top"></span>
            </span>
            Student</h3>
            <h4>$149</h4>
          </article>
        </a>
        <a href="https://ti.to/codenewbie/codeland/with/r7ittjyhxc8" target="_blank">
          <article class="ticket">
            <h3>
            <span class="checkbox boxed individual">
              <span class="checkbox-shadow"></span>
              <span class="checkbox-top"></span>
            </span>
            Individual</h3>
            <h4>$199</h4>
          </article>
        </a>
        <a href="https://ti.to/codenewbie/codeland/with/gfw-4cvgxos" target="_blank">
          <article class="ticket">
            <h3>
            <span class="checkbox boxed supporter">
              <span class="checkbox-shadow"></span>
              <span class="checkbox-top"></span>
            </span>
            Supporter</h3>
            <h4>$299</h4>
          </article>
        </a>
      </div>
      <article class="buy-tickets">
        <span class="boxed">
          <button class="get-tickets box">
            <a href="https://ti.to/codenewbie/codeland" target="_blank" class="box">get tickets</a>
          </button>
        </span>
      </article>
      <article class="ticket-explainer">
        <p class="ticket-question">Which ticket should you choose?</p>
        <p><span class="ticket-name">Individual</span> If you're currently employed and can afford the regular
          ticket, select this option.</p>
        <p><span class="ticket-name">Student</span> If you're a student or otherwise cannot afford the
          individual ticket, this one's for you.</p>
        <p><span class="ticket-name">Supporter</span> If you're able, select this ticket and help us keep the
          conference affordable for more people.</p>
      </article>
    </section>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.2429657327957!2d-73.99183758459368!3d40.75668057932708!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25856e81cdc7d%3a0xcb6b70d1bb597301!2smicrosoft+technology+center!5e0!3m2!1sen!2sus!4v1477978726480"
      width="100%" height="300" frameborder="0" style="border:0"
      allowfullscreen></iframe>
    <section>
  <div class="mailchimp-signup">
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css"
      rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
        <form
          action="//codenewbie.us8.list-manage.com/subscribe/post?u=0a92a565e5b5037722c845fdb&amp;id=50e17819e3"
          method="post" id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL"
            class="email" id="mce-EMAIL" placeholder="email address" required>
<!-- real people should not fill this in and -->
  <!--           expect good things - do not remove this or risk -->
  <!--           form bot signups-->
            <div style="position: absolute; left:
              -5000px;" aria-hidden="true">
              <input type="text"
              name="b_0a92a565e5b5037722c845fdb_50e17819e3"
              tabindex="-1" value=""></div>
            <div class="clear"><input type="submit"
              value="Subscribe" name="subscribe"
              id="mc-embedded-subscribe"
              class="button"></div>
          </div>
          <label for="mce-EMAIL">Sign up to get conference
            updates, and be the first to know when tickets go on
            sale and when our CFP opens.</label>
        </form>
      </div>
    </div>
    </section>
    <footer class="wrapper">
      <article class="about-codenewbie">
        <h3>About CodeNewbie</h3>
        <p>CodeNewbie is the most supportive community of programmers and people
          learning to code. This is our very first conference and we're so excited
          to see you in April!</p>
        <a href="https://twitter.com/CodeNewbies" target="_blank">@CodeNewbies</a>
        <a href="http://www.codenewbie.org/" #target="_blank">www.codenewbie.org</a>
      </article>
      <article class="sponsorship">
        <h3>Sponsorship</h3>
        <p>Interested in sponsoring Codeland? Email us at hello@codenewbie.org for
          our sponsorship prospectus.</p>
      </article>
    </footer>
