<%= partial "layouts/nav" %>
<header>
  <h1 class="logo">Codeland</h1>
  <h2 class="logo--subheading">Summer 2019</h2>
</header>

<%= partial "layouts/mailchimp_signup" %>
<%= partial "layouts/footer" %>
